body {
    margin: 0;
    width: 100%;
}

/*******************************************************
                       header
*******************************************************/
header {
    background-color: black;
    font-size: 1em;
    text-align: right;

}

#FirstConnexion {
    display: flex;
    justify-content: flex-end;
}

#FirstConnexion a {
    margin: 10px 20px;
}

/*******************************************************
                        FOOTER
*******************************************************/

footer {
    background-color: #D3D3D3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #154A58;
    padding: 20px 0;
    margin: 0;
}

footer img {
    width: 35px;
    height: 35px;
}

footer p {
    text-align: center;
    margin: 0;
    width: 100%;
    padding: 10px;
}

footer a {
    width: 100%;
    text-align: center;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
    margin: 0;
}

/*******************************************************
                        Police
*******************************************************/
h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3.5em;
    color: white;
    margin: 5px 0;
}

h2 {
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    font-weight: normal;
    color: white;
    font-size: 1.5em;
    padding-bottom: 40px;
    margin: 0 20px;
}

h3 {
    font-size: 1.8em;
    font-family: "Montserrat", sans-serif;
    padding-top: 20px;
    margin: 0 20px;

}

h4 {
    font-size: 1.5em;
    font-family: "Montserrat", sans-serif;
}

h5 {
    margin: 0 20px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
}

h6 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    color: #154A58;
    background-color: #B2C121;
    width: 80%;
    padding: 2% 10%;
    text-align: center;
    margin: 0 0 20px 0;
}

p {
    width: 90%;
    margin: 20px 20px;
    color: #154A58;
    font-size: 1.2em;
    font-family: "Montserrat", sans-serif;
}

article {
    padding: 2em 0;
}

article > div > img {
    width: 50%;
    margin: 2em 15%;
}

#terre{
    width: 80%;
    margin: 0;
    justify-content: center;
}

#myForm {
    font-family: "Montserrat", sans-serif;
}

#blocConnection h3 {
    color: white;
}

/*******************************************************
                      bouton
*******************************************************/

.bouton {
    width: 50%;
    height: 40px;
    max-width: 180px;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8em;
    text-align: center;
    display: block;
    box-sizing: border-box;
    padding: 10px 0.5em;
    border: 2px solid #217689;
    margin: 5% 25%;
    display: inline-block;
    background-color: inherit;
    color: #217689;
}

.bouton2 {
    width: 55%;
    /*height: 40px;*/
    max-width: 180px;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8em;
    text-align: center;
    display: block;
    box-sizing: border-box;
    padding: 10px 0.5em;
    border: 2px solid white;
    margin: 5%;
    display: inline-block;
}

#deco {
    width: 25px;
    margin: 0 0 0 10px;
}

/*******************************************************
                       Couleur police
*******************************************************/

.bleu {
    color: #154A58;
}

.blanc {
    color: white;
}

/*******************************************************
                        colonnes
*******************************************************/

.col1 {
    max-width: 500px;
    display: inline-block;
    width: 100%;
    padding-left: 5px;
}

.colonneaImage {
    text-align: center;
}

.col2 {
    max-width: 300px;
    display: inline-block;
    width: 100%;
}

.col3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin: 0;
}

.col4 {
    max-width: 240px;
    display: inline-block;
}

.col5 {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
    height: 100%;
}

.col6 {
    font-size: 3em;
    padding-left: 10px;
    display: inline-block;
    width: 100%;
}

.demarches{
    text-align: center;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.row1{
    display: inline-block;
    width: 100%;
    margin-left: 5em;
}

.row1 img,h4{
    display: inline-block;

}

.row1 img{
    width: 150px;
    height: 150px;
}

.row1 h4{
    font-size: 30px;
    margin-left: 20px;
}

/*******************************************************
                        Accueil
*******************************************************/

#accueil {
    background-image: url("images/fond_planete_premiere_page.jpg");
    background-position: center;
    background-size: 2000px;
    text-align: center;
    width: 100%;
    height: 85vh;
}

#accueil img {
    margin: 5% 10%;
    max-width: 150px;
    width: 20%;

}

#accueil div {
    text-align: center;
}

p.blanc {
    text-align: justify;
}

p.bleu {
    text-align: justify;
}

#decouvrir {
    background-color: #D3D3D3;
}

#Inscription {
    background-color: #154A58;
}

#CarteEtudiant .col3 {
    justify-content: flex-start;
}

/*******************************************************
                      Etudiant
*******************************************************/
#decouvrirEtudiant {
    background-color: #154A58;
}

#recherche {
    background-color: #D3D3D3;
}

#recherche > form > div {
    margin: 20px 0;
}

.col3titre {

    justify-content: flex-start;
}

#carteI img {
    width: 100%;
    max-width: 350px;
    height: 80px;
    margin-top: -75px;
}

#carteI {
    text-align: center;
}

#accesSuivit {
    background-color: #154A58;
}

.pictoRecherche {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.pictoRecherche label {
    margin-left: 10px;
    color: #154A58;
    padding-left: 50px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 0 0;
    line-height: 30px;
    background-size: 30px;
}

input[type="checkbox"]:not(:checked) + label {
    background-position: 0 -30px;
}

.pictoRecherche .com {
    background-image: url("images/Picto/logoInterface/picto-communication.png");
}

.pictoRecherche .dev {
    background-image: url("images/Picto/logoInterface/picto-developpement.png");
}

.pictoRecherche .graf {
    background-image: url("images/Picto/logoInterface/picto_graphisme.png");
}

.pictoRecherche .PME {
    background-image: url("images/Picto/logoInterface/picto_PME.png");
}

.pictoRecherche .GE {
    background-image: url("images/Picto/logoInterface/picto-grandentreprise.png");
}

.pictoRecherche .inconnu {
    background-image: url("images/Picto/logoInterface/picto_inconnu.png");
}

.pictoRecherche .connu {
    background-image: url("images/Picto/logoInterface/picto-connu.png");
}

.pictoRecherche .aimer {
    background-image: url("images/Picto/logoInterface/picto-aimer.png");
}

.listePictorecherche {
    padding: 0 5%;
    border: solid 1px #154A58;
    width: 80%;
    margin-top: 5px;
}

.selectRecherche input {
    width: 80%;
    padding: 2% 5%;
}

.selectRecherche {
    width: 100%;
    color: #154A58;
    margin: 20px 0;
    text-align: center;
}

.listePictorecherche input {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
}

.cache {
    display: none;
}

/*******************************************************
                      Suivi
*******************************************************/
#acceuilSuivit {
    background-image: url("images/fond_acceuil_etudiant.jpg");
    background-position: center;
    /**background-size: 100%;**/
    text-align: center;
    width: 100%;
    height: 85vh;
}

#acceuilSuivit img {
    margin: 5% 10%;
    max-width: 150px;
    width: 20%;

}

#monSuivitQuoi {
    background-color: #154A58;
}

#suivit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

#suivit span {
    width: 100%;
    color: #154A58;
}

article#monSuivit {
    padding: 0;
}

#suivit > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

#suivit input {
    width: 50px;
    height: 50px;
    border: solid 1px #154A58;
    background-color: inherit;
}

.monStage {
    margin-left: 20px;
    font-size: 1.4em;
    color: #154A58;
}

/*******************************************************
                      Entreprise
*******************************************************/
#Entreprise > div > h1 {
    margin-left: 20px;
    text-transform: uppercase;
}

.map {
    min-height: 200px;
    width: 100%;
}

#map {
    height: 200px;
}

.texteAvis {
    background-color: white;
    padding: 20px;
    border-bottom-right-radius: 40px;
}

#infoAvis {
    width: 80%;
    display: flex;
    align-items: center;
}

#infoAvis h4 {
    width: inherit;
    margin-left: 20px;

}

#caractéristique > ul > li {
    display: flex;
    height: 60px;
    line-height: 60px;
}

#caractéristique > ul > li > p {
    max-width: 75px;
    margin: 0;
}

#caractéristique > ul > li > div > img {
    width: 60px;
    height: 60px;
}

#avisEntreprise {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #154A58;
    padding: 2em 0;
}

.imageAvis{
    margin: 0;
    width: 100%;
}

/*******************************************************
                      Recherche
*******************************************************/
#carte {
    background-color: #D3D3D3;
}

#Liste {
    padding: 0 0 2em 0;
}

#Listentreprise {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#Listentreprise > div {
    display: none;
    overflow: hidden;
}

#Listentreprise.affiche-tous > div,
#Listentreprise.affiche-communication > div.communication,
#Listentreprise.affiche-graphisme > div.graphisme,
#Listentreprise.affiche-grandentreprise > div.grandentreprise,
#Listentreprise.affiche-pme > div.pme,
#Listentreprise.affiche-connu > div.connu,
#Listentreprise.affiche-inconnu > div.inconnu,
#Listentreprise.affiche-aimer > div.aimer,
#Listentreprise.affiche-developpement > div.developpement {
    border: solid 1px #154A58;
    width: 90%;
    height: inherit;
    max-width: 250px;
    margin: 20px 0;
    display: inline-block;
}

.titreEntreprise {
    background-color: #154A58;
    padding: 20px;
    height: 60px;
}

.descritpionEntreprise {
    padding: 20px 10%;
    margin: 0;
    height: 70px;
    overflow: hidden;

}

.villeEntreprise {
    padding: 10px 20px;
    margin: 0;
    height: 44px;
}

.pictoFiltres {
    width: 30px;
    display: flex;
    padding: 10px 5%;
}

#ListeFiltre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: 0 10%;
}

.pictoFiltres label {
    min-width: 30px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 30px;
}

.pictoFiltres input {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
}

.pictoFiltres .com {
    background-image: url("images/Picto/logoInterface/picto-communication.png");
}

.pictoFiltres .dev {
    background-image: url("images/Picto/logoInterface/picto-developpement.png");
}

.pictoFiltres .graf {
    background-image: url("images/Picto/logoInterface/picto_graphisme.png");
}

.pictoFiltres .PME {
    background-image: url("images/Picto/logoInterface/picto_PME.png");
}

.pictoFiltres .GE {
    background-image: url("images/Picto/logoInterface/picto-grandentreprise.png");
}

.pictoFiltres .inconnu {
    background-image: url("images/Picto/logoInterface/picto_inconnu.png");
}

.pictoFiltres .connu {
    background-image: url("images/Picto/logoInterface/picto-connu.png");
}

.pictoFiltres .aimer {
    background-image: url("images/Picto/logoInterface/picto-aimer.png");
}

.pictoFiltres img {
    height: 35px;
    width: 35px;
}

.Ensavoirplus {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px #154A58;
}

.btnEntreprise {
    padding: 10px 20px;
    width: 50%;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    text-align: center;
}

/*******************************************************
                      Erreur404
*******************************************************/

#erreur404 {
    background-color: #154A58;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#erreur404 img {
    width: 50%;
    max-width: 200px;
    max-height: 150px;
    justify-content: center;
}

/*******************************************************
                      Inscription
*******************************************************/
#inscription {
    background-color: #154A58;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#inscription > div > form > div > label {
    text-align: center;
    color: white;
    width: 100%;
}

#inscription > div > form > div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

#inscription > div > form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tooltip {
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 1.2em;
}

/*******************************************************
                       Modal
*******************************************************/

#blocConnection {
    background-image: url("images/fond_modal.jpg");
    background-size: 160%;
    background-position: center;
    border-radius: 10px;
}

#blocConnection > form > div > label {
    text-align: center;
    color: #154A58;
    width: 100%;
}

#blocConnection > form > div {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

#blocConnection > form {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*******************************************************
                      Mon profil
*******************************************************/
#monProfil {
    background-color: #154A58;
    min-height: 65vh;
}

#monProfil > div > div > span {
    color: white;
}

#imageProfil {
    text-align: center;
}

#monProfil > div > div {
    margin-left: 20px;
}

#monProfil img {
    width: 30%;
}

#monProfil span:first-child {
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.col1 div {
    margin-right: 30px;
}

.col6 h3{
    font-size: 40px;
}

.col6 h2{
    font-size: 30px;
}

#modifinfos{
    font-family: "Montserrat", sans-serif;
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin: 10px;

}



/*******************************************************
                        Modal
*******************************************************/
#myModal {
    height: 100vh;
}

#top-menu li {
    border: solid 1px white;
    width: 300px;
    text-decoration: none;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#top-menu img {
    margin: 0 100px;
    width: 70px;
    height: 70px;

}

#nomMenu {
    color: white;
    font-size: 1.2em;
    font-family: "Montserrat", sans-serif;
}

#menu {
    width: 35px;
    margin: 1% 5%;
}

#top-menu {
    background-color: #154A58;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#top-menu a {
    display: block;
    text-align: center;
    transition: .5s all ease-out;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

#top-menu > a > div {
    width: 150px;
}

.navbar1 > div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#top-menu h1 {
    margin: 0;
    padding: 5% 0;
    width: 100%;
    text-align: center;
}

/*******************************************************
                        Admin
*******************************************************/

/*************************************************************************************
*****************Administrateur*******************************************************
*************************************************************************************/

#Admin {
    background-color: #154A58;
    min-height: 90vh;
    display: flex;
    justify-content: center;
}

#top-menu> li{
    margin-top: 5px;
}

.retourAccueil {
    width: 50px;
    height: 50px;
    margin: 5%;
}

#listeAdminE,
#listeAdminP {
    background-color: #154A58;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btnModif {
    width: 25px;
    height: 25px;
}

.titreAdmin {
    text-align: center;
    margin: 0 0 2em 10px;
    width: 100%;
}

.titreAdmin > h2 {
    padding: 0;
    color: white;
    display: flex;
    align-items: center;
}

.formulaireAdmin {
    background-color: #154A58;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.formulaireAdmin > form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.formulaireAdmin > form > div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

#listeAdminE {
    background-color: #154A58;
}

#listeAdminE a{
    color: #154A58;
}

#listeAdminE i{
    margin:5px 2px;
}

#listeAdminP a{
    color: #154A58;
}

#listeAdminP i{
    margin:5px 2px;
}

#tableValidation a{
    color: #154A58;
}

#tableValidation i{
    margin:5px 2px;
}
#listeAdminE > div {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#listeAdminE > div > div {
    width: 200px;
    margin: 20px;
}

#listeAdminE > div > div {
    background-color: white;
    width: 250px;
    margin: 20px;
    padding: 5px;
}

.titre {
    background-color: #154A58;
    height: 100px;
    display: flex;
    align-items: center;

}

#listeAdminP > div {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#listeAdminP > div > div {
    background-color: white;
    border: 1px solid #154A58;
    width: 200px;
    margin: 20px;
    padding: 5px;
}

#listeAdminP > div > div {
    background-color: white;
    border: 1px solid #154A58;
    width: 250px;
    margin: 20px;
}

#tableValidation {
    background-color: #154A58;
    min-height: 85vh;
}

#tableValidation > form {
    background-color: white;
    height: 40px;
    display: flex;
    padding: 5px;
}

#tableValidation > form > p {
    margin: 0 10px;
    line-height: 40px;
}

.bouton_val {
    height: 40px;
    overflow: hidden;
    width: 45px;
    background-color: white;
    border: none;
    padding: 0;

}

.input-group {
    width: 100%;
}

.bouton_val > img {
    height: 100%;
    margin-left: -40px;
}

#Admin li {
    list-style: none;
    margin: 10% 0;
    max-width: 200px;
}

#Admin ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#Admin li > a > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 3px solid white;
    min-height: 200px;

}

#Admin li > a > div > img {
    width: 50px;
    margin: 30px 30px 0 30px;

}

#Admin li > a > div > p {
     color: white;
     text-align: center;
 }

#listePays img {
    width: 25px;
}

@media screen and (min-width: 1000px) {
    .titreIns {
        width: 1000px;
    }

    .col6 {
        display: flex;
        justify-content: center;
    }

    .col6 > div {
        width: 1000px;
    }

    #decouvrirEtudiant > .bouton {
        margin: 5%;

    }

    .col3 {
        margin: 20px 10%;
    }

    .col5 > .bouton {
        margin: 5%;
    }

    .col1 {
        width: 500px;
    }

    #filtres {
        width: 1000px;
        display: flex;
        align-items: center;
    }

    #ListeFiltre {
        width: 600px;
    }

    .pictoFiltres {
        padding: 10px 3%;
    }

    .listePictorecherche {
        padding: 0;

    }
}

@media screen and (min-width: 800px) {

    #top-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 10% 7%;
    }

    #top-menu li {
        width: 250px;
        height: 250px;

    }

}

@media screen and (min-width: 500px) {
    #CarteEtudiant,
    #decouvrir,
    #Inscription,
    #decouvrirEtudiant,
    #recherche,
    #carteI,
    #accesSuivit,
    #monProfil,
    #Entreprise,
    #Liste,
    #monSuivitQuoi {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #top-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 10% 7%;

    }

    #top-menu li {
        border: solid 1px white;
        width: 200px;
        text-decoration: none;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #top-menu > li > a > div {
        width: 150px;
    }

    #top-menu img {
        width: 100px;
        height: 100px;
        margin: 0 25px;

    }

    header p {
        margin-right: 0;
    }

    #map {
        height: 100%;
    }

    #tableValidation > form > button {
        height: 40px;
        overflow: inherit;
        width: inherit;
    }

    #tableValidation > form > button > img {
        margin-left: 0px;
    }

    article {
        padding-top: 5em;
        padding-bottom: 0;
    }

    #decouvrir {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .btn {
        margin: 5%;

    }

    #carteI {
        text-align: center;
    }

    #acceuilSuivit {
        background-size: 2000px;
        background-repeat: no-repeat;

    }

    #monProfil {

        align-items: center;
    }

    #monProfil > .col1 > div {
        font-size: 1.5em;
    }

    #monProfil img {
        width: 70%;
    }

    #carteI img {

        margin: -130px 355px 0 355px;
    }
}

/*******************************************************
                        Entreprise
*******************************************************/

#Entreprise h1{
    font-size: 40px;
}


