{% extends 'general.html.twig' %}

{% block title %}MMI Stage à l'étranger/{{ entreprise.nom }}{% endblock %}

{% block contenu %}
    <article id="inscription">
        <a href="index.php?page=pageAdmin"><img class="retourAccueil" src="CSS/images/logoMenu_accueil.png" alt=""></a>
        <h2>Ajouter un papier</h2>
        <div class="bloc_inscription">

            <form method="post" action="index.php?page=newEntreprise" enctype="multipart/form-data">

                <div class="input-group">
                    <span class="input-group-addon">
                          <label for="nom">Nom entreprise</label>
                    </span>
                    <input type="text" class="form-control" name="nom" id="nom" placeholder="Nom" required/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                          <label for="visiter">Visiter</label>
                    </span>
                    <input type="radio" class="form-control" name="visiter" id="visiter" value="0" required>oui</input>
                    <input type="radio" class="form-control" name="visiter" id="visiter" value="1" required>non</input>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                          <label for="description">Description</label>
                    </span>
                    <textarea class="form-control" name="description" id="description" placeholder="Description"
                              required></textarea>

                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                          <label for="rue">Rue</label>
                    </span>
                    <input type="text" class="form-control" name="rue" id="rue" placeholder="rue" required/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                          <label for="ville">Ville</label>
                    </span>
                    <input type="text" class="form-control" name="ville" id="ville" placeholder="ville" required/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                          <label for="pays">A quelle pays doit-il etre associer ?</label>
                    </span>
                    <input type="pays" class="form-control" name="pays" id="pays" placeholder="pays" required/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                          <label for="descritpionAvis">Avis de l'étudiant</label>
                    </span>
                     <textarea class="form-control" name="descritpionAvis" id="descritpionAvis" placeholder="avis"
                               required></textarea>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                          <label for="avis">Avis:</label>
                    </span>
                    <input type="radio" class="form-control" name="avis" id="avis" value="1" required>Positif</input>
                    <input type="radio" class="form-control" name="avis" id="avis" value="0" required>Negatif</input>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                          <label for="profil">Profil rechercher par l'entreprise</label>
                    </span>
                    <textarea class="form-control" name="profil" id="profil" placeholder="profil"
                              required></textarea>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                          <label for="type">Type de l'entreprise</label>
                    </span>
                    <select name="type" id="type">
                        <option value="">...</option>
                        <option value="1">Communication</option>
                        <option value="2">Graphisme</option>
                        <option value="3">Developpement</option>
                    </select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                          <label for="taille">Taille de l'entreprise</label>
                    </span>
                    <input type="radio" class="form-control" name="taille" id="taille" value="0" required>PME</input>
                    <input type="radio" class="form-control" name="taille" id="taille" value="1" required>Grande
                    Entreprise</input>
                </div>

                <div class="panel panel-footer">
                    <button type="submit" class="btn" name="valider">
                        Créé
                    </button>
                </div>
            </form>
        </div>

    </article>

    <script>


    </script>
{% endblock %}
