{% extends 'general.html.twig' %}

{% block title %}MMI Stage à l'étranger/{{ entreprise.nom }}{% endblock %}
{% block boostrap %}
    <link rel="stylesheet" href="CSS/bootstrap-3.2.0-dist/css/bootstrap.min.css" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block contenu %}
    <article class="formulaireAdmin">
        <div class="container">
            <form method="post" action="index.php?page=newEntreprise2&id={{ entreprise.bean.id }}"
                  enctype="multipart/form-data">
                <div class="titreAdmin">
                    <a href="index.php?page=pageAdmin"><img class="retourAccueil" src="CSS/images/retourAdmin.png"
                                                            alt=""></a>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Ajouter les types</strong>
                    </div>
                    <div class="panel-body">
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="input-group">
                                    <span class="input-group-addon">
                                        <label for="type1">Type de l'entreprise</label>
                                    </span>
                                        <select class="form-control" name="type1" id="type1">
                                            <option value="">...</option>
                                            <option value="1">Communication</option>
                                            <option value="2">Graphisme</option>
                                            <option value="3">Developpement</option>
                                        </select>
                                    </div>
                                    <br/>
                                    <div class="input-group">
                                    <span class="input-group-addon">
                                        <label for="type2">Type de l'entreprise</label>
                                    </span>
                                        <select class="form-control" name="type2" id="type2">
                                            <option value="">...</option>
                                            <option value="1">Communication</option>
                                            <option value="2">Graphisme</option>
                                            <option value="3">Developpement</option>
                                        </select>
                                    </div>
                                    <br/>
                                    <div class="input-group">
                                    <span class="input-group-addon">
                                        <label for="type3">Type de l'entreprise</label>
                                    </span>
                                        <select class="form-control" name="type3" id="type3">
                                            <option value="">...</option>
                                            <option value="1">Communication</option>
                                            <option value="2">Graphisme</option>
                                            <option value="3">Developpement</option>
                                        </select>
                                    </div>
                                    <div class="panel-footer">
                                        <button type="submit" class="btn btn-default" name="valider">
                                            Ajouté
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>

    </article>
{% endblock %}
