{% extends 'general.html.twig' %}

{% block title %}MMI Stage à l'étranger/{{ entreprise.nom }}{% endblock %}

{% block contenu %}
    <article class="formulaireAdmin">
        <form method="post" action="index.php?page=newEntreprise" enctype="multipart/form-data">
            <div class="titreAdmin">
                <a href="index.php?page=pageAdmin"><img class="retourAccueil" src="CSS/images/retourAdmin.png"
                                                        alt=""></a>
                <h2>Ajouter les types</h2>
            </div>

            <div>
                <label for="type1">Type de l'entreprise</label>
                <select name="type1" id="type1">
                    <option value="">...</option>
                    <option value="1">Communication</option>
                    <option value="2">Graphisme</option>
                    <option value="3">Developpement</option>
                </select>
                <span class="correction">nooooooooooooooooooooooooooooo</span>
            </div>
            <div>
                <label for="type2">Type de l'entreprise</label>
                <select name="type2" id="type2">
                    <option value="">...</option>
                    <option value="1">Communication</option>
                    <option value="2">Graphisme</option>
                    <option value="3">Developpement</option>
                </select>
                <span class="correction">nooooooooooooooooooooooooooooo</span>
            </div>
            <div>
                <label for="type3">Type de l'entreprise</label>
                <select name="type3" id="type3">
                    <option value="">...</option>
                    <option value="1">Communication</option>
                    <option value="2">Graphisme</option>
                    <option value="3">Developpement</option>
                </select>
                <span class="correction">nooooooooooooooooooooooooooooo</span>
            </div>
            <div>
                <button type="submit" class="btn" name="valider">
                   Ajouté
                </button>
            </div>
        </form>
    </article>
{% endblock %}
