{% extends 'general.html.twig' %}

{% block title %}MMI Stage à l'étranger/{{ entreprise.nom }}{% endblock %}

{% block contenu %}
    <article id="inscription">
        <a href="index.php?page=pageAdmin"><img class="retourAccueil" src="CSS/images/logoMenu_accueil.png" alt=""></a>
        <h2>Ajouter un papier</h2>
        <div class="bloc_inscription">

            <form method="post" action="index.php?page=newPapier" enctype="multipart/form-data">

                <div class="input-group">
                    <span class="input-group-addon">
                          <label for="nom">Nom papier</label>
                    </span>
                    <input type="text" class="form-control" name="nom" id="nom"  placeholder="Nom" required/>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">
                          <label for="description">Description</label>
                    </span>
                    <input type="description" class="form-control" name="description" id="description" placeholder="description" required/>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">
                          <label for="conseil">Conseil</label>
                    </span>
                    <input type="text" class="form-control" name="conseil" id="conseil"  placeholder="conseil" required/>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">
                          <label for="duree">Duree</label>
                    </span>
                    <input type="text" class="form-control" name="duree" id="duree" placeholder="duree" required/>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">
                          <label for="pays">A quelle pays doit-il etre associer ?</label>
                    </span>
                    <input type="pays" class="form-control" name="pays" id="pays" placeholder="pays" required/>
                </div>

                <div class="panel panel-footer">
                    <button type="submit" class="btn" name="valider">
                        M'inscrire
                    </button>
                </div>
            </form>
        </div>
    </article>
{% endblock %}
