{% extends 'general.html.twig' %}

{% block title %}MMI Stage à l'étranger/{{ entreprise.nom }}{% endblock %}

{% block contenu %}
    <article class="formulaireAdmin">


        <form method="post" action="index.php?page=newPapier" enctype="multipart/form-data">
            <div class="titreAdmin">
                <a href="index.php?page=pageAdmin"><img class="retourAccueil" src="CSS/images/retourAdmin.png"
                                                        alt="RetourAccueil"></a>
                <h2>Ajouter un papier</h2>
            </div>
            <div>
                <label for="nom">Nom papier</label>
                <input type="text" class="form-control" name="nom" id="nom" placeholder="Nom" required/>
            </div>

            <div>
                <label for="description">Description</label>
                <textarea class="form-control" name="description" id="description" placeholder="Description"
                          required></textarea>

            </div>

            <div>
                <label for="conseil">Conseil</label>
                <textarea class="form-control" name="conseil" id="conseil" placeholder="Conseil"
                          required></textarea>
            </div>

            <div>
                <label for="duree">Duree</label>
                <input type="text" class="form-control" name="duree" id="duree" placeholder="duree" required/>
            </div>

            <div>
                <label for="pays">A quelle pays doit-il etre associer ?</label>
                <select name="pays" id="pays">
                    <option value="0">...</option>
                    {% for pays in liste %}
                        <option value="{{ pays.id }}">{{ pays.nom }}</option>
                    {% endfor %}
                </select>
                <span class="correction">nooooooooooooooooooooooooooooo</span>
            </div>
            <div>
                <button type="submit" class="btn" name="valider">
                    M'inscrire
                </button>
            </div>
        </form>

    </article>
{% endblock %}
