{% extends 'general.html.twig' %}

{% block title %}MMI Stage à l'étranger/{{ nom.entreprise }}{% endblock %}

{% block contenu %}
    <article id="Admin">
        <ul id="top-menu">
                <a href="index.php?page=newEntreprise">
                    <li>
                        <div>
                            <img src="CSS/images/logoAdmin_ajoutEntreprise.png" alt="">
                            Ajouter une entreprise
                        </div>
                    </li>
                </a>
                <a href="index.php?page=newPapier">
                    <li>
                        <div>
                            <img src="CSS/images/logoAdmin_ajoutPapier.png" alt="">
                            Ajouter un papier
                        </div>
                    </li>
                </a>
                <a href="index.php?page=listeEntreprise">

                    <li>
                        <div>
                            <img src="CSS/images/logoAdmin_listeEntreprise.png" alt="">
                            Liste entreprise
                        </div>
                    </li>
                </a>
                <a href="index.php?page=listePapier">
                    <li>
                        <div>
                            <img src="CSS/images/logoAdmin_listePapier.png" alt="">
                            Liste papier
                        </div>
                    </li>
                </a>
                <a href="index.php?page=listeValidation">
                    <li>
                        <div>
                            <img src="CSS/images/logoAdmin-validation.png" alt="">
                            Liste des personnes à valider
                        </div>
                    </li>
                </a>
            </ul>

    </article>
{% endblock %}
