{% extends 'general.html.twig' %}

{% block title %}MMI Stage à l'étranger/{{ nom.entreprise }}{% endblock %}

{% block contenu %}
    <article id="Admin">
        <ul>
            <li>
                <a href="index.php?page=newEntreprise">
                    <div>
                        <img src="CSS/images/logoAdmin_ajoutEntreprise.png" alt="">
                       <p>Ajouter une entreprise</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="index.php?page=newPapier">
                    <div>
                        <img src="CSS/images/logoAdmin_ajoutPapier.png" alt="">

                        <p>Ajouter un papier</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="index.php?page=newPays">
                    <div>
                        <img src="CSS/images/logoAdmin_ajoutPays.png" alt="">

                        <p>Ajouter un pays</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="index.php?page=listeEntreprise">
                    <div>
                        <img src="CSS/images/logoAdmin_listeEntreprise.png" alt="">

                        <p> Liste entreprise</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="index.php?page=listePapier">
                    <div>
                        <img src="CSS/images/logoAdmin_listePapier.png" alt="">

                        <p>Liste papier</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="index.php?page=listePays">
                    <div>
                        <img src="CSS/images/logoAdmin_listePays.png" alt="">

                        <p> Liste pays</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="index.php?page=listeValidation">
                    <div>
                        <img src="CSS/images/logoAdmin-validation.png" alt="">

                        <p>Liste des personnes à valider</p>
                    </div>
                </a>
            </li>

        </ul>

    </article>
{% endblock %}
