
{% if session.nom == '' %}
    {% extends 'generalNON.html.twig' %}
{% endif %}

{% if session.nom != '' %}
    {% extends 'general.html.twig' %}
{% endif %}




{% block title %}MMI Stage à l'étranger/{{ entreprise.nom }}{% endblock %}

{% block contenu %}
<article id="erreur404">

    <h3 class="blanc">Erreur 404</h3>
    <h2 class="blanc">Vous êtes sur une page qui n'existe plus ou n'a jamais existé.
        Page d'accueil <a href="index.html">stagealetranger.com</a></h2>
    <img src="CSS/images/erreur404.png" alt="">
</article>
{% endblock %}