

    {% extends 'general.html.twig' %}




{% block title %}MMI Stage à l'étranger/{{ entreprise.nom }}{% endblock %}

{% block contenu %}
<article id="erreur404">
<div class="col3">
    <h3 class="blanc">Erreur 404</h3>
    <h2 class="blanc">Vous êtes sur une page qui n'existe plus ou n'a jamais existé.
        Retour à la page d'accueil <a href="index.php?page=accueil">stagealetranger.com</a></h2>
    <img src="CSS/images/erreur404.png" alt="persoErreur">
</div>

</article>
{% endblock %}