{% extends 'general.html.twig' %}

{% block title %}MMI Stage à l'étranger/Recherche{% endblock %}

{% block contenu %}


    <article id="decouvrirEtudiant">
        <div class="col1">
            <h3 class="blanc">MMI Montbéliard</h3>
            <h2 class="blanc">vous accompagne pour votre stage à l’étranger</h2>
            <p class="blanc">Vous souhaitez faire votre stage à l’étranger mais ne savez pas où regarder ? Envie de
                partir
                sans savoir comment vous y prendre ? Nous sommes là pour vous ! Vous trouverez sur ce site adresses,
                noms et
                procédures requises afin de vous aider au mieux dans votre recherche et vous accompagner tout au long
                des
                procédures.</p>
        </div>
        <div class="col1 colonneaImage">
            <img src="CSS/images/planet.png" alt="">
        </div>
        <div class="col5">
            <a class="bouton" href="index.php?page=Suivi#monSuivi">J'ai déja mon stage</a>
            <a class="bouton" href="index.php?page=Recherche">Je cherche un stage</a>
        </div>

    </article>
    <article id="recherche">
        <div class="col3 col3titre">
            <div class="col1">
                <h3 class="bleu">MMI Montbéliard</h3>
                <h2 class="bleu">Des étudiants y sont déja allé</h2>
            </div>
        </div>
        <form action="index.php?page=Etudiant" enctype="multipart/form-data">
            <div class="col3">
                <div class="col2 listePictorecherche">

                    <div class="pictoRecherche">
                        <input type="checkbox">
                        <img class="imgFiltre" src="CSS/images/Picto/picto-communication.png" alt="communication">
                        <img class="imgFiltre cache" src="CSS/images/Picto/pictoNoir/picto-communication.png"
                             alt="comunication">
                        <span>Communication</span>
                    </div>
                    <div class="pictoRecherche">
                        <input type="checkbox">
                        <img class="imgFiltre" src="CSS/images/Picto/picto-graphisme.png" alt="graphisme">
                        <img class="imgFiltre cache" src="CSS/images/Picto/pictoNoir/picto-graphisme.png" alt="graphisme">
                        <span>Graphisme</span>
                    </div>
                    <div class="pictoRecherche">
                        <input type="checkbox">
                        <img class="imgFiltre" src="CSS/images/Picto/picto-developpement.png" alt="developpement">
                        <img class="imgFiltre cache" src="CSS/images/Picto/pictoNoir/picto-developpement.png" alt="developpement">
                        <span>Developpement</span>
                    </div>
                </div>
                <div class="col2 listePictorecherche">
                    <div class="pictoRecherche">
                        <input type="checkbox">
                        <img class="imgFiltre" src="CSS/images/Picto/picto-grandentreprise.png" alt="GE">
                        <img class="imgFiltre cache" src="CSS/images/Picto/pictoNoir/picto-grandentreprise.png" alt="GE">
                        <span>Grande entreprise</span>
                    </div>
                    <div class="pictoRecherche">
                        <input type="checkbox">
                        <img class="imgFiltre" src="CSS/images/Picto/picto-PME.png" alt="PME">
                        <img class="imgFiltre cache" src="CSS/images/Picto/pictoNoir/picto-PME.png" alt="PME">
                        <span>Petite/Moyen entreprise</span>
                    </div>
                </div>
                <div class="col2 listePictorecherche">
                    <div class="pictoRecherche">
                        <input type="checkbox">
                        <img class="imgFiltre" src="CSS/images/Picto/picto-inconnu.png" alt="New">
                        <img class="imgFiltre cache" src="CSS/images/Picto/pictoNoir/picto-inconnu.png" alt="inconnu">
                        <span>Nouvelle entreprise</span>
                    </div>
                    <div class="pictoRecherche">
                        <input type="checkbox">
                        <img class="imgFiltre" src="CSS/images/Picto/picto-connu.png" alt="connu">
                        <img class="imgFiltre cache" src="CSS/images/Picto/pictoNoir/picto-connu.png" alt="connu">
                        <span>Un etudiant y est deja allé</span>
                    </div>
                    <div class="pictoRecherche">
                        <input type="checkbox">
                        <img class="imgFiltre" src="CSS/images/Picto/picto-aimer.png" alt="aimer">
                        <img class="imgFiltre cache" src="CSS/images/Picto/pictoNoir/picto-aimer.png" alt="aimer">
                        <span>Avis positif sur l'entreprise</span>
                    </div>
                </div>
            </div>
            <div class="col3">
                <div class="col1 selectRecherche">
                    <span>Choisir un pays</span>
                    <input type="search">
                </div>

                <div class="col1 selectRecherche">
                    <span>Choisir une ville</span>
                    <input type="search">
                </div>
            </div>
        </form>
        <a class="bouton bleu" href="index.php?page=Recherche">Recherche</a>
    </article>
    <article id="carteI">
        <img src="CSS/images/triangle.png" alt="triangle">
        <div class="col5">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                 y="0px"
                 viewBox="0 0 100 68.5" style="enable-background:new 0 0 100 68.5;" xml:space="preserve">
<style type="text/css">
    .st0 {
        fill: #B2C121;
    }
</style>
                <g id="Calque_1">
                </g>
                <g id="acceuil_etudiant">
                    <g id="Calque_5">
                        <g>
                            <path class="st0" d="M30.7,39.2L30,38.5L29,38.9l0.5-0.4l0-0.5h-0.3l-1,0.8l0.9-1.1l-0.2-1.1l-0.5-0.3l-0.7,0.1l0.2-0.8l-1.1-0.1
				l-0.1-0.3c0,0-0.4,0.1-0.4,0.1c0,0,0-0.7,0-0.7l-0.2-0.3l-0.4,0L25,33.7l0.2-0.2l-1.4,0.1l-1.2-0.8l-0.4,0.6l-0.2,0.7l-0.2-0.4
				l0.4-1l-1,0.6l-0.2-0.2l-0.9,1.4c0,0-0.6-0.7-0.6-0.7s-0.3,0-0.3,0S19,34,19,34s-0.6,0-0.6,0l-0.3-0.8l0-0.8l0.4-0.9l0-0.7
				l-1.7-0.1l0.2-0.2c0,0,0.2-0.3,0.2-0.3c0,0,0.1-0.5,0.1-0.5l0.3-0.3l0.1-0.4l0.4-0.3l0-0.5c0,0-0.3-0.1-0.4-0.1s-0.5,0-0.5,0
				l-0.1,0.3l-0.6,1l-1.1,0.1l-0.5-0.9l0-1.2l0.2-0.6l0.4-0.6l0.3-0.1l0-0.6l1.2-0.8l1-0.1l0.3,0.3l0.4,0l0.4-0.4l0.7,0l0.8,0.4
				l0,0.4c0,0-0.2,0.5-0.3,0.5c0,0,0,0.4,0,0.4l0.1,0.3c0,0,0.1,0.2,0.1,0.3c0,0,0.1,0.2,0.1,0.2c0,0,0.1,0,0.1,0s0.3-0.8,0.3-0.8
				l0.1-0.7l0.2-0.1l0.1-1.2l2.5-1.6l-0.2-0.7c0,0,0.6,0,0.7,0c0,0,1.5-1.5,1.5-1.5L27,20l0.1-0.5c0,0,1-0.7,1-0.7
				c0,0,0.6,0.1,0.6,0.1l0.1,0.4l2-0.8l0.1-0.5l-0.8,0.3l-0.6-0.5l0.7-0.9h-0.6l-1.4,0.6c0,0-0.1-0.2,0-0.2c0,0,1.3-0.6,1.3-0.6
				s0.6-0.1,0.6-0.1c0,0,2.6,0,2.6,0l0,0.4l-0.4,0.1l-0.6,0.7l1,0.1l0.5,0.6l0.2-0.2l-0.1-0.8l-0.3-0.1c0,0,0-0.5,0-0.5
				c0,0,0.5-0.4,0.5-0.4l-0.2-0.1l-0.6,0.2l0.8-0.8l-0.3-0.4l0.1-0.4l-0.8-0.5l0-0.6l0.3-0.1l-0.1-0.9L32,13.4l-0.8,0l-0.1-0.5
				l0.4-0.5l-0.3-0.4L30.7,12h-0.5l-0.5,0.6L29,13.2l-0.1,0.5l-1.1,0.7l-0.5,0.8l-0.3,0.4l-0.7,0l0-1.1l0.2-0.4L25.4,13l-0.6-0.2
				l0-0.5l0.2-0.2L24.8,12l0-0.4l1.2-1l1.1-0.2L26.9,10c0,0,1-0.1,1.1-0.1s0.6-0.2,0.6-0.2l0.1,0.8c0,0,0.3,0.1,0.4,0
				c0,0,0.1-0.2,0.1-0.2l0.2,0.1l0.2,0.3l0.3,0l0-0.4c0,0-0.1-0.1-0.2-0.1c0,0-0.1-0.5-0.1-0.5l-0.2-0.1c0,0-0.3,0-0.3,0
				c0,0-0.2,0.2-0.2,0.2l-0.2-0.1l-0.1-0.2l-0.5-0.3c0,0,0.5,0,0.5,0.1c0,0,0.2,0.2,0.2,0.2s0.5,0,0.5,0c0,0,0.1-0.2,0.1-0.2l0.7,0
				L30.8,9L31,8.5l0.1-0.3L31,8.1c0,0-0.3-0.1-0.3-0.1c0,0-0.2,0-0.2,0.1c0,0,0.1,0.2,0.1,0.2l0.2,0l-0.1,0.2l-0.5,0.4l-0.7,0l0-0.5
				L29,7.7l-0.5,0L28.4,8l-0.9,0.2L27.4,8l-1-0.1L25.5,7h-0.2h-0.5h-0.2h-0.2h-1l-0.2-0.1l0.2-0.2L22.6,6l-1.2-0.1l-0.1-0.2L19,5.5
				l-0.6-0.8l-0.3-0.5l-0.6,0l-0.9-0.6c0,0-0.1-0.4-0.1-0.4c0,0-0.7,0-0.7,0l-0.1-0.2l-1.7,0l-0.3,0.2l-1.5,0.1l-0.1,1l0.3,0.5
				l-0.5,0l-1-0.2V4.3l-0.8,0.2L10.7,5H11v0.2l0.1,0.2l0.6,0.1L11,5.9L9.6,6L9.2,6L8.6,6.6L8.4,7.3c0,0,0.1,0,0.2,0
				c0,0,0.4-0.1,0.4-0.1L8.4,8l0.3-0.1l0.2-0.1l0.6,0.3L9,8.6L7.8,8.9L7.1,9.2L6.5,9.5l0,0.5h0.3l0.7-0.4l0.4-0.3l1-0.1l0.3-0.3
				c0,0,0.6-0.2,0.6-0.2c0,0,0.7-0.2,0.7-0.2l0.2-0.4L11.2,8L12,7.5l0.3,0l0.1,0.1L11.7,8l-0.5,0.2c0,0,0.1,0.1,0.1,0.1
				c0,0,0.3,0.1,0.3,0.1L12,8.4L12.5,8c0,0,0.1-0.2,0.1-0.2c0,0,0.6,0.5,0.6,0.5l0.3,0.3l0.2,0.2l0.5,0l0.4,0.6l0,2.4
				c0,0-0.3,0.2-0.3,0.2c0,0,0.1,1,0.1,1l-0.4,0.4l0,0.2l0.2,0.8l0,0.5L14.3,15l-0.4-0.3l-0.3,0.5l-0.1,0.3l-1.2,1.3l-0.4,0.8
				l-0.7,0.8l-0.2,0.8c0,0,0.1,0.5,0.2,0.5s-0.3,0.6-0.3,0.6L10.7,21l0.2,0.5l0.3,0.5l0.1,0.3L11,22.7l0,1.1l0.1,0.8
				c0,0-0.2,0.1-0.2,0.1c0,0,0.1,0.9,0.1,0.9l-0.1,0.2l0,0.4l0.2,0.4l0.2,0.3l0.1-0.1c0,0,0-0.2,0-0.2c0,0-0.2-0.4-0.2-0.4l0.2-0.5
				l-0.1-0.4l0.1-0.6l-0.1-1.6l0.3-0.5l0.3,0l0.1,0.2l0.1,0.3l-0.1,0.2c0,0-0.1,0.4-0.1,0.4c0,0,0,0.9,0,0.9l0.2,1.2l0.2,1.2l0,1
				l-0.2,0.3l-0.1,0.5l0.6,0.6l0.5,0.5l0.7,0.4l0.4,0.2l0.3,0l0.3-0.1c0,0,0-0.1,0.1-0.1s0.2,0.1,0.2,0.1l0.3,0.4l0.2,0.5l0.7,0.5
				c0,0,0.6,0.1,0.6,0.1s0,0.6,0,0.6l0.4,0.3c0,0,0,0.2,0,0.2c0,0-0.2,0.2-0.2,0.2l0.1,0.2l0.7,0.6l0.6,0.4c0,0,0.3,0.2,0.3,0.2
				c0,0-0.1-0.6-0.1-0.6l0.7,0l0.1,0.6l0.1,0.8l-0.1,1.1L19.5,37l-0.1,0.4L19,37.6l-0.2,0.3l0,0.3l0,1l0.2,0.1l0,0.4L18.5,40
				c0,0,0,0.4,0,0.5c0,0,0.1,0.4,0.1,0.4l1.1,1.6l0.5,0.9l0.5,0.8l0.8,0.7l0.7,0.5l1,0.7l0.4,1.1l0.5,1.3l0.2,1.5l0.4,1.4l0.3,0.8
				l0.2,0.7l0.1,1.2l0.4,1.2l0.5,1.1l0.2-0.4l0.8,1.2l-0.3,0.9c0,0,0.5,0.2,0.5,0.2c0,0,0.1,0.9,0.1,0.9l0.7,0.9l0.7,0.4
				c0,0,0.8,0.4,0.9,0.4c0,0,0.3-0.2,0.3-0.2c0,0-0.9-1.1-0.9-1.1s0.4-1.5,0.4-1.5s-0.7-0.4-0.7-0.4l0.2-1.7l-0.6-0.5l0.7-0.1
				l-0.3-0.8c0,0,0.9,0,0.9,0c0,0,0.4-0.9,0.4-0.9S29,52.7,29,52.7l0.2-0.3l1.1,0.6l0.6-0.6c0,0,0.1-1.5,0.1-1.6
				c0,0,0.5-0.8,0.5-0.8L31,48.7l1.3-1l0.8-0.1v-0.8l0.3-1.4l-0.2-1.7l0.9-1.9v-1.1l-1.5-1.3L30.7,39.2z"/>
                            <path class="st0" d="M32.1,10l0,0.3L31,10.1l-0.3,0.2l0.9,0.4l0.4,0.5v0.4l0.8,0.3c0,0,0-0.7,0-0.8c0,0.1,0.5,0.5,0.5,0.5
				s0.3-0.4,0.3-0.5s-0.1-0.9-0.1-0.9L33.3,10h-0.5h0H32.1z"/>
                            <path class="st0" d="M34,8.6l-0.2-0.7c0,0,0-0.5,0.1-0.6c0.1,0-0.5,0-0.5,0S33.1,7,33,7c-0.1,0-1,0-1,0v0.2c0,0-0.3,0-0.3,0
				c0.1,0,0.7-0.5,0.7-0.5l-0.6-0.1c0,0,0,0.2-0.1,0.3c-0.1,0-0.3,0.2-0.3,0.2l-0.1,0.4l-0.2-0.1l0.1-0.4L31.4,7l0-0.3l0.4-0.2
				l-0.4-0.2l-0.2,0.3l-0.5,0.1L30,6.6v0.2v0v0.3l0.6,0l0,0.3l0.5,0.4c0,0,0.3,0.1,0.4,0.1c0.1,0,0.9,0,0.9,0s0.1,0.3,0.1,0.3
				c0,0.1,0.7,0.8,0.7,0.8l0.1,0.4L33,9.4L33,9.7c0.1,0,1.2,0.4,1.2,0.4l0.2,0.7l0.8-0.8l-0.4-0.1L34,8.6z"/>
                            <path class="st0" d="M27.5,7.8c0.1,0,0.4,0,0.5,0c0,0,0-0.4,0-0.4l-0.5-0.1L27.5,7.8z"/>
                            <path class="st0" d="M28.4,7l0,0.4c0.2,0,1,0,1,0V6.5h-0.6l0,0.2L28.5,7H28.4z"/>
                            <path class="st0"
                                  d="M24.5,5h0.9l0.3-0.4l-0.8-0.7c0,0-0.3,0-0.4,0c-0.1,0-1.5,0.8-1.5,0.8V5h1.1H24.5z"/>
                            <path class="st0" d="M26,3.6c0,0,0.2-0.1,0.2-0.1c0-0.1,0.3-0.1,0.3-0.1L27,3.2l0.4-0.2l-0.5-0.3L26.5,3l-0.8,0.1l0.2,0.3L26,3.6
				z"/>
                            <path class="st0" d="M27.1,5H27l-0.1,0.7l-0.3,0l0.2-0.3l-0.7,0V5h-0.6h0h-0.8l-0.1,0.2c0,0-0.3,0-0.3,0.1c0,0-0.2,0.3-0.2,0.4
				c0,0.1,0.3,0.3,0.3,0.3l0.9,0.2l-0.1,0.1l-0.3,0.1l-0.3,0l0-0.3h-0.7l0,0.3c0,0,0.4,0.1,0.3,0.1c0,0.1,0,0.6,0,0.6
				c0,0,1.3-0.2,1.3-0.2l0.6,0.2l0.3,0.3c0,0,0.3,0,0.3,0l-0.4-0.5L26.9,7l0.3-0.1l-0.5-0.5l0.5-0.5L27.1,5z"/>
                            <path class="st0" d="M28.3,6.5h1c0,0-0.2-0.4-0.2-0.4l0.3-0.3V5.8h-0.3l-0.8,0.3L28.3,6.5z"/>
                            <path class="st0" d="M26.3,4l0.1,0.2l0.5,0l0.3,0.2l-0.5,0.1l0.1,0.2c0,0,0.3,0.2,0.3,0.2c0,0,0.2,0.1,0.2,0.1h0.5h0.1h0.5
				l0.3-0.4L28.3,4l-0.6,0.3l-0.2-0.5c0,0-0.2-0.1-0.2-0.1C27.2,3.7,26.5,3.9,26.3,4z"/>
                            <path class="st0" d="M26.3,4C26.3,4,26.3,4,26.3,4L26.3,4L26.3,4z"/>
                            <path class="st0" d="M30.3,3.4l0.3,0.5l0.2-0.1h0.4l-0.3-0.2l-0.1-0.5c0,0-0.2-0.1-0.2-0.1c-0.1,0,0,0.1,0,0.2
				C30.6,3.3,30.4,3.4,30.3,3.4z"/>
                            <path class="st0" d="M29.8,5.1L30,5l0.1,0.1l0.4-0.2l0.1-0.2l-0.2-0.2c0,0-0.2,0.2-0.3,0.2c0,0-0.4,0-0.4,0l-0.1,0.2l0.1,0
				L29.8,5.1z"/>
                            <polygon class="st0"
                                     points="29.9,6.1 29.7,6.1 29.7,6.5 30.1,6.5 30.5,6.3 30.9,6.3 31,5.9 30.8,5.9 30.1,5.8 			"/>
                            <path class="st0"
                                  d="M30.6,5.5c0,0,0.3-0.1,0.3-0.1c0,0-0.3-0.3-0.3-0.3s-0.2,0.4-0.1,0.4C30.5,5.5,30.6,5.5,30.6,5.5z"/>
                            <polygon class="st0" points="31.3,4.9 31.5,5 31.5,5.4 31.3,5.5 31.3,6 31.9,6 31.9,6 32.3,6.2 32.7,6.1 33.5,6.2 33.5,6.1
				33.7,6 33.6,6 33.2,6 32.4,6 31.9,5.6 31.9,5.4 32.1,5.1 31.9,4.9 31.5,4.7 31.4,4.5 31.2,4.5 31,4.7 			"/>
                            <path class="st0" d="M32.9,4.3c0,0,0.3-0.2,0.3-0.2l0.5,0l0.2,0l0.4,0l0-0.6l-0.2-0.1l-0.2-0.2l0-0.3l-0.2,0.1v0.4l-0.3,0.1
				l-0.1,0.2l-0.4-0.1l0,0.2c0,0,0.1,0.1,0.1,0.1s-0.1,0.1-0.1,0.1l-0.2,0c0,0.1,0,0.4,0,0.4S32.9,4.3,32.9,4.3z"/>
                            <path class="st0" d="M47.7,5.7l-0.6-0.1l-0.7-0.1l-0.2-0.2l0.2-0.1l0.2,0.1c0,0,0.3,0.1,0.4,0.1c0.1,0,0.2,0,0.2-0.1
				c0,0-0.1-0.2-0.1-0.2l-0.4-0.1l-0.1-0.2l-0.2,0l-0.3-0.2l-0.4,0l-0.1-0.2L45,4.3c0,0-0.5,0-0.5,0c0,0-0.1,0.2-0.1,0.2l-0.4,0.3
				L43.8,5h-0.5l0-0.2l-0.2-0.1l0,0l-0.3,0l-0.5,0.2l0,0.1H42c0,0-0.1-0.1-0.1-0.1c0,0-0.2-0.1-0.2-0.1l-0.3-0.3l-0.4,0.1L40.6,5
				h-0.5h-0.4h-1.1l0-0.6c0,0,0.6-0.4,0.6-0.3c0,0,0.4-0.1,0.4-0.1l0.2-0.2c0,0-0.2-0.2-0.2-0.1c0,0-0.4,0-0.4,0l-0.3-0.1l-0.1-0.1
				c0,0,0.3-0.2,0.3-0.2c0,0-0.2-0.2-0.2-0.2h-0.4h-0.2H38l-2.3,0l-0.1-0.1l-0.3-0.1l-0.1-0.1l-0.3,0l0,0.1l0,0.3l0.1,0l0.6,0.4
				c0,0,0.4-0.1,0.5,0c0.1,0,0.2,0,0.3,0c0,0,0.4,0,0.4,0l0.3-0.1l0.3,0.2l0.1,0l0,0.2l-0.3,0l-0.6,0l-0.2,0l-0.4-0.2l-0.4,0L35.6,4
				l-0.3-0.1c0,0-0.5-0.1-0.5,0S35,4.5,35,4.5L34.8,5h-0.3c0,0-0.2-0.5-0.2-0.5c0,0-0.3-0.1-0.3-0.1l0.1,0.2l-0.3,0.3l-0.5-0.1
				L33.1,5h-0.2l-0.2,0c0,0,0.1,0.2,0.1,0.2c0,0,0.4,0.1,0.4,0.1c0,0,0.1,0.1,0.1,0.1L34,5.3l0.2,0.2l0.3-0.1l-0.3-0.1
				c0,0,0-0.4,0-0.4c0,0,0.4,0.2,0.4,0.2c0,0,0.4,0,0.4,0l0.2-0.2L35.7,5l0.2-0.3L36,4.5l0.3,0.3L36.6,5h0.5l0.3,0.1L37.6,5h0.2
				l0.4-0.4l0.1,0l-0.2,0.1L38.5,5l-0.1,0.1l-0.6,0l-0.1-0.2c0,0-0.4-0.1-0.4,0c0,0.1,0,0.1,0,0.1h-0.8l0.1,0.4l0.6,0.1l0.1,0.3
				L37,6h-0.5l0,0.3l0.2,0.1l0.6-0.1l0.1,0.2l0.2-0.1c0,0,0.1,0,0.1,0c0,0,0.3,0.2,0.3,0.2l0.3,0.1l0,1l0.1,0.1L38.4,8l0,0.1
				l-0.2,0.3L38,9h0.4c0,0,0.1-0.2,0.1-0.1c0,0,0.1,0.1,0.1,0.1l-0.2,0.1L38.4,9l-0.4,0l0,0.2c0,0-0.3,0-0.3,0c0,0,0,0.4,0,0.4
				c0,0,0,0.3,0.1,0.3c0.1,0,0.4,0.2,0.4,0.2h0.1l0-0.5l0.2-0.2l0.1-0.1l0.1,0l0.1,0.2l-0.6,0.3L37.9,10h-0.2h0H38
				c0,0,0,0.1-0.1,0.1c-0.1,0-0.2-0.1-0.2-0.1h-0.3l0,1.3l-0.2,0.3l0,1l0.2,0.4c0,0,0.3,0.4,0.4,0.4c0.1,0,0.4,0.6,0.4,0.6
				c0,0,0.2,0,0.2,0s-0.1-0.6,0-0.7c0,0,0.2-0.4,0.2-0.4l0.2-0.1l0.2-0.5l0.3-0.2l0.3,0l0.1-0.3l0.1-0.1l0.1-0.2l0.2,0v-0.2l1.1,0
				l0.5-0.2l0.3-0.2l0.1-0.1v-0.1l1.5,0c0,0,0.2-0.2,0.3-0.2c0,0,0.3-0.1,0.3-0.1l0.2-0.1l0.3,0.1l0.1-0.1l0.2-0.1l0.1-0.1l-0.8,0
				l-0.1-0.3L44,9.7l0.2-0.2l0.2,0l0.2,0.2l0.3,0.2L45,9.9V9.6V9.3l-0.1-0.1L44.8,9l0-0.2l0.4,0l0.2,0l0.2,0.2l0.1-0.3L46,8.7V8.3
				l0.1,0l0.1-0.1l0.2-0.1l-0.1-0.1l0.1-0.1l-0.2-0.1l0-0.2l0.6,0L47,7.3V7l0-0.3l0.1,0l0.2-0.3l0.1-0.2c0,0,0.2,0,0.2,0
				c0,0,0-0.2,0.1-0.2c0.1,0,0.4-0.1,0.4-0.1l1,0V5.7L47.7,5.7z"/>
                        </g>
                        <g>
                            <path class="st0" d="M58.6,39.7l0.7-0.9l0.6-0.5l0.7-0.9l0.6-0.6l0.5-0.9l0.4-1.1v-0.9L61,34h-1.2l-0.2-0.7l-0.8-0.9L58,31.8
				v-0.7l-0.4-1l-0.4-1l-0.5-1.2l0.1-0.6l-0.4-1l-1.1,0.2l-1.1-0.3c0,0-0.5-0.3-0.6-0.3s-0.4-0.3-0.5-0.4c-0.1-0.1-0.9,0.1-0.9,0.1
				l0.1,0.6l-0.3,0.4l-0.5-0.5l-0.4-0.5l-1-0.4c0,0-0.4-0.4-0.5-0.5c-0.1-0.2,0.2-0.7,0.2-0.7h-0.5h-0.8h-0.9l-1.1,0.3
				c0,0-1.2,0.2-1.4,0.2c-0.2,0-0.8,0.3-0.8,0.3l-0.5,0.6l-0.4,1l-0.7,0.5l-0.4,0.6l-0.6,0.7l-0.7,0.9l-0.4,0.5l0.2,1.7l-0.5,0.5
				c0,0,0.2,1.2,0,1.2c-0.1,0,0.6,0.3,0.6,0.3v0.8l0.7,1.2l1.4,1.4l1.3-0.7l0.5,0.5l1.2-0.7l0.9,0.1l0.4,0.7l1.4,0l-0.1,0.5l0.1,1
				l-0.3,0.7l0.4,0.8l0.7,0.7l0.3,1l0.5,1.8l-0.6,0.3l0,0.6l-0.2,1.3l1.3,1.9l-0.2,1l1.4,2.2l0.2,1.5l2.8-0.7l1.3-2.1l0.2-1l0.6-0.2
				l0.1-1.1l-0.5-0.3l0.8-0.8l0.6-0.6l0.7-1.2l-0.2-1.3l-0.2-0.7l-0.2-1.2l0.1-0.5L58.6,39.7z"/>
                            <path class="st0" d="M62.2,44.3c-0.1-0.1-0.2-1-0.2-1l-0.4-0.4l-0.1,0.7l-0.6,0.5l-0.9,0.6c0,0,0.1,1.2,0,1.3
				c0,0.1-0.5,0.8-0.5,0.8s-0.1,1-0.1,1c0.1,0,0.4,0.3,0.4,0.3l0.4,0.4l0.8-0.5l0.8-1.8v-1C62,45.2,62.3,44.3,62.2,44.3z"/>
                        </g>
                        <g>
                            <path class="st0" d="M78,32.9v1.8l0.7,1.3l-0.2,0.2l0.8,1.1l0.5,0.4c0,0,0.3-0.4,0.2-0.5c-0.1-0.1,0-0.4,0-0.4v-0.8l-0.7-0.5
				c0,0-0.5,0-0.6,0S78.5,35,78.5,35l-0.3-0.3l-0.3-0.5l0.4-1.5l0.5,0.3l0.3,0.4l0.9,1l0.8-0.4c0,0,0.3-0.7,0.3-0.8
				c0-0.1-0.1-0.9-0.1-0.9l-1.9-1.7l0.3-0.5h-0.4l-0.5-0.7l0.8-0.2l0.6,0.9h1.3c0,0,1.3-1.1,1.4-1c0.1,0.1,1-1.6,1-1.6l0.1-1.7
				l-1.2-1.8l-0.1-0.5c0,0,0.5-0.8,0.4-0.8s-0.3-0.1-0.4-0.1s-0.6-0.1-0.6-0.1l-0.4-0.5l0.8-0.8l0.1,0.9l0.6-0.6l0.4,0.1l0.1,0.7
				l0.4,0l0.6,0.6l0.3,0.9l0.5-0.9l-0.8-0.6l-0.3-0.6l0.4-1.4l0.5,0.2c0,0,0.6-0.8,0.6-0.9s0.3-1.4,0.3-1.4l-0.5-1.5l-0.5-1
				c0,0-0.3,0.1-0.6,0.1c-0.3,0-1.1-0.3-1.1-0.3l1.2-2l2.1-0.2l0.9-0.2l-0.4-0.8l0.8-0.6l0.5,0.6l0.5-1l0.2,0.6l-0.1,0.2L88.8,13
				h-0.4l-0.1,1.1c0,0,1.9,1.8,2,1.8s-0.1-2.6-0.1-2.6L89.6,13l0.1-0.9l1.5-0.5l1.2-1.5l-1.1-0.8l0.4-0.8c0,0,0.5,0.4,0.7,0.4
				S94,9,94,9V8.3L93.1,8l-0.3,0.2l-0.6-0.4c0,0-1.2-0.2-1.4-0.2s-2.8-0.2-3-0.2S88.3,8,88.3,8l-0.7,0.1l-2.3,0.5
				c0,0,0.2-0.5,0.2-0.7c0-0.1-1,0.1-1,0.1s-0.4,0.3-0.7,0.3s-1-0.5-1-0.5l-2.5-0.1l0.3,0.7c0,0-1.3,0.2-1.4,0.2C79.1,8.6,79,9,79,9
				l-0.6-0.1L77.8,8c0,0-0.8,0-1.1,0c-0.3,0-0.1,0.4-0.1,0.4l-3.2,0.2c0,0-0.7,0.4-0.9,0.4s1.4-1.3,1.4-1.3s-0.2-0.4-0.4-0.6
				s-1.8-0.4-1.9-0.4c-0.1,0-0.8,0.3-0.8,0.3s-0.7,0-0.8,0s-1.5,1.2-1.6,1.1c-0.1,0,0.3,0.9,0.3,0.9s-1.1,0-1.2,0
				c-0.1,0,0.1,0.8,0,0.7S67,9.5,66,9.5v0.5l-0.4-0.2l0.1,1l0.3,0.3v0.5l-0.4,0.6l-0.7-0.1l1.1-0.3c0,0,0-0.4,0-0.5
				s-0.5-0.7-0.5-0.7s-0.4-0.9-0.3-1.1C65.2,9.3,64,9.3,64,9.3v0.5l0,0.5l0.5,1L63,10.8v0.2l-0.8,0.3c0,0-0.8-0.2-0.9-0.2
				c-0.1,0-1.1,1-1.1,1s-1-0.1-1.2,0c-0.3,0-0.4,1.1-0.4,1.1L58,14h-0.7l0.5-1.2l0.7-0.3l0.1-0.7l-0.9-0.6l-0.9,0.2L56.8,11h-0.9
				l0.1,0.9v1l0.4,0.8l-1.1,0.6l0.5,0.4L55,15v1l1,1v0.8l0.6,0.4l1.4,0.9l-0.5,1.5c0,0,1,0.8,1.2,0.7c0.2,0,1.4-0.1,1.4-0.1l0.6,0.7
				h-1L59,21.8l-0.4,0.5c0,0-1-0.1-1.1-0.1c-0.1,0-0.7-0.5-0.7-0.5L56.4,22c0,0-0.5,0-0.5,0c0,0-0.9,0.5-0.9,0.5v0.7l0.5,0.6
				l1.1,0.4l0.3-0.3h0.5l0,0.5l-0.3,0.5l0,0.8L56.7,26l0.3,1.2L58,28v0.6l0.4,0.5l0.3,0.4c0,0-0.3,0.6-0.4,0.6
				c-0.1,0,0.9,0.4,0.9,0.4l0.9,1v1l0.2,0.8l1-0.6l0.6-0.3l0.7-0.5l0.4-0.2l0.6-0.2l0.5-0.5c0,0,0.3-0.6,0.5-0.6
				c0.2,0,0.2-0.9,0.3-0.9c0.1,0-0.2-0.1-0.2-0.1l-0.3-0.5l-0.6,0.1l-0.1-0.7l-0.3,0L62.8,29h-0.4l-0.3-0.6c0,0-0.7-0.8-0.5-0.9
				c0.1-0.1-0.6-0.8-0.6-0.8l0.3-0.6l0.3,0.6l0.9,1.1l0.7-0.1l1,0.5l0.8,0.2l1.6-0.1l0.8,1l0.3,0.7l0.6-0.2l0.3-0.4l0.2,2.1l1.2,2.4
				l0.2,0.8L71,35v-0.6l0.3-0.4l0.2-2l0.6-0.2c0,0-0.1-0.3-0.1-0.4c0-0.1,0.8-1,0.8-1.1c0-0.1,0.4,0,0.4,0s-0.1-0.3,0.1-0.5
				c0.1-0.3,0.3-0.3,0.3-0.3l0.7-0.5l0.4-0.1l0.2,0.7c0,0,0.7,1.1,1,1.3s0,1.1,0,1.1l0.5,0l0.8-0.7L78,32.9z"/>
                            <path class="st0"
                                  d="M80,39.3l-0.5-0.8l-0.2-0.6l-2.7-1.4c0,0,1.8,2.2,1.9,2.3c0.1,0.1,1.4,2.3,1.4,2.3H80V39.3z"/>
                            <path class="st0"
                                  d="M82.3,41h-1.1l-0.6-0.5l-0.4,0.6c0,0,2.4,0.8,2.6,0.8s2.8,0.2,2.8,0.2l-2.5-0.5L82.3,41z"/>
                            <path class="st0" d="M88,21.8c0,0-0.3-1.2-0.3-1.2c-0.1,0-0.1,0.3-0.1,0.3l0.4,0.2v1.1l-0.5,0.1L87.3,23l-1,0.4l-0.5,0.8l0.3,0.4
				c0,0,0.2,0.6,0.2,0.6l0.2-0.1l0.2-0.7l0.5-0.5l0.3,0.1l0.4-0.6l0.5-0.2l0.2-0.3L88,22.2V21.8z"/>
                            <path class="st0" d="M87.1,20.3c0.1,0,0.4,0.2,0.4,0.2l0-0.4l0.6,0v-0.3l0.3-0.1l-0.2-0.5l-0.3,0l-0.3-0.1l-0.5-0.4
				c0,0-0.1-0.1-0.1,0.1s0.1,0.6,0.1,0.6l0.2,0.1c0,0,0,0.4,0,0.4c0,0-0.4,0.1-0.4,0.1S87.1,20.3,87.1,20.3z"/>
                            <path class="st0" d="M86.8,17.9L86.8,17.9l0.4,0.1l-0.4-0.5c0,0-0.1-0.4-0.1-0.4s0.1,0.1,0.1,0.1L85,15.4v0.3c0,0,1,1.4,1,1.4
				c0,0,0.5,0.4,0.5,0.4l0,0.3L86.8,17.9z"/>
                            <path class="st0" d="M84.7,30.4L84.5,32l0.4,0.1l0,0.9h0.2l0.3,0.2L85,33.4l0,0.4v0.5l0.6,0.1l-0.1-0.7L85,33.6v-0.3l0.1-0.3
				L85,32.5l0.6,0.1l0.5,0.3l0,0.8l0.3,0.2l0.2-0.4l-0.2-0.6l-0.7-0.7L85.1,32L85,31.6l0.4-0.9C85.4,30.7,84.8,30.5,84.7,30.4z"/>
                            <path class="st0" d="M86.8,34.5l-0.1,0.2l-0.5,0l-0.1,0.2l0.4,0.3v0.5c0.3,0,0.5-0.1,0.5-0.1v-0.4l0.3,0.2l0.1-0.5L87,34.8
				L86.8,34.5z"/>
                            <path class="st0" d="M84.4,35.7c-0.1,0-0.3-0.3-0.3-0.3l-0.3,0.9L83.3,37H83l0,0.3l-0.6-0.1l-0.3,0.4l-0.5,0L81,37.5v0.2v0.1v0.7
				v0.2v0.7l1,0.2l1.1,0.3l0.7-0.3l0.1-0.8l0.6-0.9l-0.4-1.4l0.7-0.2C84.8,36.2,84.4,35.7,84.4,35.7z"/>
                            <path class="st0"
                                  d="M71.6,35.3l0.2,0.5l0.4-0.4v-0.6l-0.4-0.3C71.8,34.6,71.6,35.3,71.6,35.3z"/>
                            <polygon class="st0" points="86.8,42.4 87.3,41.9 86.2,42.5 			"/>
                            <path class="st0" d="M85.8,39.6L85.7,39l0.7-0.3L86,38.5c0,0-0.4,0.2-0.4,0.2c-0.1,0-0.3,0.1-0.3,0.1c0-0.1,0-0.6,0.1-0.6
				c0.1,0,0.4-0.2,0.4-0.2s0.9,0.2,0.9,0.2c0,0,0.1-0.2,0.1-0.2h-1.2c0,0-0.3,0-0.4,0.1s-0.2,0.5-0.2,0.5c0,0.1-0.2,0.6-0.2,0.6
				s0.1,0.4,0.1,0.5c0,0.1,0.1,0.4,0.1,0.5c0.1,0.1,0.2,0.7,0.2,0.7c0-0.1,0.1-1.2,0.1-1.2l0.2-0.5l0.2,1.2l0.6,0.1L85.8,39.6z"/>
                            <path class="st0" d="M92.9,39.5c-0.2-0.1,0,0-0.4-0.1c-0.4-0.2-0.5-0.2-0.7-0.2c-0.2,0-0.3-0.2-0.5-0.2c-0.1,0-0.1-0.1-0.3,0
				s-0.1,0-0.2,0.1c-0.1,0.1-0.1,0.1-0.3,0.2c-0.2,0.1-0.2,0.2-0.3,0.3c-0.1,0-0.2,0.1-0.3,0c-0.1-0.1-0.2,0-0.1-0.2
				c0.1-0.2,0.1,0,0.1-0.2C90,39.1,89.9,39,89.9,39c0,0-0.1-0.1-0.1-0.2c-0.1-0.1-0.1-0.1-0.1-0.1s-0.4,0-0.5,0c-0.1,0-0.1,0-0.2,0
				c-0.1,0-0.1,0-0.2,0.1c0,0.1,0,0.2,0,0.2c0.1,0,0.9,0.4,0.9,0.4s-0.4,0.2-0.5,0.2c-0.1,0.1,0.1,0.4,0.1,0.4s0.3-0.2,0.3-0.1
				c0.1,0.1,0.5,0.4,0.5,0.4s0.1-0.2,0.3,0c0.2,0.2,0.2,0.2,0.3,0.3c0.1,0.1,0.2,0.1,0.2,0.3c0.1,0.2,0.1,0.3,0.1,0.4
				c0,0.1,0,0.1,0,0.2c0,0.1,0,0.4,0,0.4l0.1,0l1.7-2.3C93,39.5,93,39.5,92.9,39.5z"/>
                            <path class="st0" d="M62.2,10.1C62,9.8,62,9.8,62,9.8s-0.7,0.3,0,0c0.7-0.3,0.7-0.3,0.7-0.3s-0.1,0.1,0-0.3
				c0.1-0.3-0.2-0.1,0.1-0.3c0.3-0.2,0-0.1,0.3-0.2S63,9,63.5,8.6C64,8.1,64,8.1,64.1,8c0.1-0.1,0.2,0.1,0.1-0.1S64,7.2,63.8,7.6
				c-0.2,0.3,0,0.2-0.2,0.4c-0.2,0.2,0,0.3-0.4,0.2c-0.4-0.1-0.1-0.2-0.4-0.1c-0.4,0.1-0.2-0.2-0.4,0.1c-0.2,0.3-0.2,0.3-0.3,0.4
				c-0.1,0.1-0.1,0-0.3,0.3c-0.2,0.3,0,0.3-0.1,0.5s-0.3,0.2-0.3,0.2s-0.3,0.1-0.2,0.3C61.2,10,61,9.7,61.2,10s0.1,0.1,0.2,0.3
				c0.1,0.2-0.1,0.1,0.1,0.2c0.2,0.1,0.2,0,0.3,0c0.1,0,0,0.2,0.1,0C62.2,10.4,62.4,10.4,62.2,10.1z"/>
                        </g>
                        <g>
                            <polygon class="st0" points="83.2,61.9 83.4,63 84.2,62.2 83.6,62.1 			"/>
                            <path class="st0" d="M88,54.8c-0.1-0.3,0.1-0.2-0.1-0.7c-0.2-0.4-0.2-0.3-0.3-0.6c-0.1-0.3-0.3-0.5-0.3-0.6c0-0.1,0-0.1,0-0.1
				s-0.1,0.3-0.2-0.2c-0.1-0.5-0.2-0.7-0.2-1s0-0.5,0-0.5s0.2-0.4,0.2-0.5c-0.1-0.1,0.2-0.1-0.1-0.1c-0.3,0-0.1,0.1-0.3,0
				s-0.4,0.5-0.2-0.1c0.2-0.6,0.4-0.9,0.3-1c-0.1-0.2,0-0.2,0-0.2s-0.1-0.4-0.2-0.2c-0.1,0.2,0.1-0.2-0.1,0.2c-0.2,0.3,0,0-0.2,0.3
				c-0.2,0.3-0.1,0.1-0.3,0.5c-0.2,0.4-0.3,0.4-0.3,0.6s0,0.1,0.1,0.4c0,0.3,0,0.2,0,0.5s0.2,0.3,0.1,0.4c-0.2,0.1-0.3,0.1-0.4,0.1
				s0.2,0.2-0.1,0c-0.2-0.2,0.1,0-0.2-0.2c-0.3-0.2-0.2,0.1-0.3-0.2c-0.2-0.3-0.1-0.3-0.2-0.4c-0.1-0.1,0.2-0.1-0.3-0.2
				c-0.4-0.2-0.4,0.1-0.4-0.2c-0.1-0.2-0.3,0.2-0.1-0.2c0.2-0.5-0.1-0.4,0.2-0.6s0.7,0,0.5-0.3c-0.1-0.3-0.3-0.5-0.4-0.5
				s0.1,0-0.2,0.1c-0.3,0-0.3,0-0.6,0s-0.1,0-0.5,0c-0.4,0-0.6-0.2-0.7,0.1s0,0.1-0.1,0.4c0,0.3,0,0.2-0.2,0.5
				c-0.2,0.3,0.1,0.4-0.3,0.4s-0.4,0.2-0.4,0c0.1-0.2,0.2-0.2,0-0.3c-0.1-0.1-0.3-0.3-0.4-0.2c-0.1,0.1,0.2,0.1-0.2,0.4
				C80.6,51,81,50.7,80.6,51s-0.5,0.2-0.7,0.4s-0.2,0.1-0.4,0.2c-0.1,0.2-0.1,0.2-0.2,0.3C79.2,52,79.1,52,79,52.1
				C79,52.2,79.3,52,79,52.2s0,0-0.4,0.2c-0.5,0.2-0.3,0.2-0.6,0.3c-0.3,0.1-0.4,0-0.6,0.1c-0.2,0.1,0.1-0.1-0.2,0.1
				s-0.3,0.1-0.4,0.4s0,0.3-0.2,0.5c-0.2,0.3-0.1,0-0.3,0.4c-0.3,0.4-0.3,0.5-0.4,0.8c-0.1,0.3-0.1,0.3,0,0.5
				c0.1,0.3,0.1,1.8,0.1,1.9c0,0.1,0,0.2-0.1,0.4c-0.1,0.2,0,0.2-0.2,0.3c-0.2,0.1-0.2-0.2-0.2,0.1c0,0.3,0.1,0.3,0.3,0.5
				c0.2,0.2,0,0.5,0.4,0.3c0.4-0.1,0.5-0.1,0.7-0.4c0.2-0.3-0.2-0.4,0.2-0.4s0.2,0.2,0.3,0.2c0.1,0,0.1,0,0.3,0.1
				c0.2,0.1-0.1,0.1,0.2,0.1c0.3-0.1,0.3,0.1,0.5-0.1c0.2-0.2,0.6-0.2,0.6-0.4c0-0.1,0-0.1,0-0.1c0,0-0.4,0,0.2-0.2s0.2-0.2,0.7-0.2
				c0.4-0.1,0.5-0.2,0.6-0.1c0.1,0.1-0.1,0.2,0.3,0.2c0.4,0,0.4-0.1,0.5,0c0.1,0.1,0.1,0.2,0.2,0.3c0.2,0.1,0,0.3,0,0.5
				c0,0.2-0.2,0.3-0.2,0.3l0.1,0.2c0.2,0,1.2-0.8,1.2-0.6s0.3,1.1,0.2,1.3c0,0.2-0.3-0.4-0.4,0s0,0.3,0,0.6c0,0.3-0.5,0.1,0,0.3
				c0.5,0.1,0.5,0,0.9,0.1c0.4,0.1,0.4,0.1,0.7,0.2c0.2,0.1-0.3,0.2,0.4,0.1s0.4,0.3,0.7,0c0.3-0.3,0.3-0.1,0.5-0.5
				c0.1-0.4,0.1-0.6,0.3-0.8c0.2-0.2,0.1,0,0.4-0.3c0.3-0.3,0.1-0.2,0.4-0.5c0.3-0.3-0.1-0.2,0.4-0.6c0.5-0.4,0.5-0.3,0.6-0.6
				c0.2-0.3,0.4-0.2,0.4-0.5c0-0.3-0.2-0.2-0.1-0.6c0.2-0.4,0.1-0.7,0.1-0.9c0-0.2,0-0.5,0-0.5S88.1,55.1,88,54.8z"/>
                            <path class="st0" d="M91.5,63c-0.2-0.2-0.2-0.2-0.2-0.2s0.5-0.5,0-0.2c-0.5,0.3-0.2,0.2-0.7,0.5c-0.4,0.3-0.3,0.2-0.6,0.4
				s-0.1,0.3-0.5,0.4c-0.4,0.1-0.1,0.1-0.4,0.1s-0.5-0.2-0.6,0.1c-0.1,0.3-0.3,0.2-0.3,0.4c0,0.2,0.3,0.4,0.3,0.4h0.3
				c0,0-0.2,0.5,0.3,0.1c0.5-0.4,0.6-0.3,0.8-0.6c0.2-0.3,0-0.1,0.2-0.4c0.3-0.2,0.2-0.2,0.4-0.4c0.3-0.2,0.4-0.4,0.6-0.4
				c0.2,0,0,0.1,0.2,0c0.2-0.1,0.3-0.1,0.2-0.2C91.5,63,91.7,63.2,91.5,63z"/>
                            <path class="st0" d="M93.8,61.7c-0.5-0.1-0.3,0-0.5-0.1c-0.2-0.1-0.1,0.1-0.2,0c0,0,0,0.1-0.1-0.3c-0.2-0.7-0.1-0.7-0.2-0.8
				c-0.1-0.1,0-1.1-0.2-0.4c-0.2,0.7-0.2,0.9-0.3,1.2c-0.1,0.3,0.1,0.6-0.1,0.7c-0.3,0.1-0.5,0.1-0.5,0.2c0,0.2-0.2,0.2,0,0.4
				c0.2,0.2,0.1,0.2,0.2,0.4c0.1,0.1-0.1,0.1-0.1,0.1s-0.2,0.2,0.2,0c0.5-0.2,0.3,0,0.5-0.2c0.2-0.2,0.1-0.1,0.4-0.3
				c0.2-0.2,0.1-0.2,0.4-0.4s0.2-0.1,0.3-0.2C93.8,61.7,94.2,61.8,93.8,61.7z"/>
                            <path class="st0" d="M86.3,48.1c0.1,0.1,0.1,0.2,0.4,0.2c0.2-0.1,0.3,0,0.4-0.1c0.1-0.1,0.2-0.2,0.3-0.3c0-0.1,0-0.3,0.2-0.3
				c0.2,0,0.2-0.1,0.4,0.1c0.3,0.1,0.3,0,0.3,0.2c0.1,0.2-0.1,0.2,0,0.4c0.1,0.2,0,0.1,0.3,0.3c0.3,0.1,0.1,0.2,0.4,0.2
				s0.2,0.2,0.4,0s0.3-0.2,0.1-0.3c-0.2-0.1,0,0.1-0.3-0.1c-0.3-0.1-0.4,0-0.4-0.2c0-0.2,0.1-0.2,0-0.4c0-0.2,0.1-0.5-0.1-0.6
				c-0.2-0.1-0.4-0.1-0.2-0.1c0.1,0,0.4-0.1,0.4-0.1s0,0,0.3-0.1c0.3-0.1,0.3,0,0.4-0.1c0.1,0,0.2-0.1,0.3-0.1s0.3-0.1,0.3-0.3
				c0-0.3-0.1-0.3,0.1-0.3c0.2,0-0.3-0.1-0.3-0.1l-0.1,0.5c0,0-0.5,0-0.7,0c-0.2,0.1-0.3,0-0.5,0.1c-0.1,0.1-0.1,0.2-0.2,0.2
				c-0.1,0-0.4-0.1-0.4-0.1s0-0.2-0.1-0.3s-0.3-0.5-0.3-0.6c0-0.1,0.2-0.1-0.1-0.2c-0.2-0.1-0.3-0.1-0.4-0.1l-1.7,2.3l0.7,0.1
				C86.2,47.9,86.2,48,86.3,48.1z"/>
                        </g>
                        <g>
                            <path class="st0" d="M57.8,20l0.3-0.8L56,17.8V17l-0.9-1c0,0-0.2-0.3-0.2-0.2c0,0.1,0,0-0.2,0.1c-0.2,0.1-0.2,0-0.4,0
				c-0.2,0-0.1,0-0.3,0s-0.1,0-0.2,0.1c-0.1,0.1-0.1,0.1-0.1,0.2c0,0.1,0,0.1-0.1,0.3c-0.1,0.3,0,0.1-0.1,0.2c0,0.1-0.1,0.1-0.2,0.2
				c-0.2,0.2-0.1,0.1-0.2,0.1c-0.2,0.1-0.1-0.1-0.1-0.2c0-0.1,0,0-0.1,0c-0.1,0-0.2,0-0.4-0.1c-0.2,0,0,0-0.2,0.1
				c-0.2,0.1-0.1,0.1-0.2,0.2c-0.2,0.1,0,0.1-0.2,0.2c-0.2,0.1-0.1,0-0.2,0c-0.1-0.1,0-0.1,0-0.2c0-0.1-0.1,0-0.3,0
				c-0.2,0-0.1,0-0.2,0c-0.2,0-0.1,0-0.2-0.1s-0.1,0-0.1-0.1c0-0.1,0.1-0.1,0.2-0.1c0.1-0.1,0.1,0,0.2-0.1c0.1-0.1,0-0.1,0-0.3
				c-0.1-0.2-0.1,0-0.2,0c-0.1,0-0.1,0-0.2,0.1c-0.1,0-0.1,0-0.2,0s-0.1,0-0.1,0c0,0,0.3-0.3,0.3-0.3c0.1,0,0-0.4,0-0.4l-0.5,0.1
				c0,0,0,0.2-0.1,0.5c0,0.3,0,0.1,0,0.5s0,0.3-0.1,0.4c-0.1,0.1-0.1,0-0.2,0c-0.1,0-0.1,0-0.4,0c-0.3,0.1,0,0.1-0.1,0.4
				s0,0.2-0.2,0.3c-0.1,0.1,0,0-0.5,0.2c-0.5,0.2,0,0-0.1,0.1c-0.1,0.1-0.3,0-0.3,0s-0.1,0.1-0.1,0.2c-0.1,0.1-0.1,0.1-0.2,0.2
				c-0.1,0.1-0.1,0.1-0.3,0.2c-0.2,0.1-0.1,0.1-0.3,0.1s-0.1,0-0.2,0c-0.1,0.1-0.1,0.1-0.1,0.1c0,0.1-0.1,0-0.3,0
				c-0.2,0-0.1-0.1-0.4-0.1c-0.3-0.1,0,0-0.4,0.2c-0.3,0.1,0,0,0,0.2c0,0.1,0,0,0.1,0.1c0.1,0.1,0.2,0,0.5,0.1c0.3,0,0,0.1,0.1,0.1
				c0,0,0.1,0.1,0.2,0.3c0.1,0.1,0.1,0.1,0.1,0.1s0,0.2,0,0.3c0,0.1-0.1,0.2,0,0.3c0.1,0.1,0,0.1-0.1,0.2c-0.1,0.1,0,0.1-0.1,0.2
				c-0.1,0.2,0,0-0.2,0.1c-0.2,0.1-0.1,0-0.4,0c-0.3,0-0.1,0-0.4,0c-0.4,0-0.1,0-0.3-0.1c-0.2-0.1-0.1,0-0.7,0c-0.6,0-0.1,0-0.4,0.1
				c-0.3,0.1,0,0,0,0.3c0,0.3,0.2,0.3,0.3,0.5c0.2,0.2,0,0-0.1,0.2C45,22,44.9,22,44.6,22.2c-0.4,0.2-0.1,0.1-0.3,0.3
				c-0.2,0.2,0,0,0,0.2c0,0.1,0,0,0.1,0.1c0.1,0.1,0.1,0.1,0.1,0.2c0.1,0.1,0.1,0.1,0.1,0.2c0.1,0.1,0,0,0.1,0.2
				c0.1,0.2,0.1,0,0.3,0.2s0.2,0.2,0.2,0.3c0,0.1,0.1,0,0.1,0s0-0.1,0-0.1s0.1-0.1,0.1-0.1c0.1,0,0.1,0,0.2,0.1c0.1,0,0.1,0,0.2,0
				s0.1,0,0.3-0.1c0.2,0,0.1,0,0.2-0.1c0.1,0,0.1,0,0.2-0.1c0.1,0,0.1,0,0.1-0.1c0-0.1,0,0,0.1-0.1c0.1-0.1,0.1,0,0.2-0.1
				c0.1,0,0.1,0,0.2-0.1c0.1-0.1,0,0,0.1,0c0.1,0,0-0.1,0-0.2c0-0.1,0-0.2,0.1-0.3c0-0.1,0-0.1,0-0.2c0-0.1,0-0.1,0-0.3
				c0-0.1,0,0,0.1-0.1c0.1-0.1,0.1,0,0.2-0.1s0.1-0.1,0.1-0.1c0.1-0.1,0,0,0.1-0.1s0,0,0.1-0.1c0.1-0.1,0,0,0.2,0c0.1,0,0,0,0.3-0.1
				c0.3-0.1,0-0.1,0.1-0.1c0.1-0.1,0,0-0.1-0.1c-0.1-0.1-0.1-0.1-0.1-0.1s0,0,0,0s0,0,0.1-0.1c0.1-0.1,0,0,0-0.1c0-0.1,0,0,0.1-0.1
				c0.1-0.1,0,0,0.2,0.1s0.1,0.1,0.2,0.2c0.1,0.1,0.1,0,0.2,0c0.1,0,0.1-0.1,0.3-0.2c0.2-0.1,0.1,0,0.2-0.1c0.1-0.1,0,0,0,0
				s0.1-0.1,0.2-0.2c0.1-0.1,0.1,0,0.2-0.1c0.1-0.1,0,0,0.2,0c0.1,0,0,0,0.2,0.1c0.2,0.1,0,0.1,0.1,0.2c0.1,0.1,0,0,0,0.1
				c0,0.1,0,0.1,0,0.3c0,0.2,0.1,0.2,0.2,0.3c0.1,0.2,0,0,0.1,0.1s0,0,0.2,0.2s0.1,0,0.1,0c0.1,0,0.3,0.1,0.3,0.1s0,0,0.1,0
				c0.1,0,0,0,0,0c0,0,0,0.1,0.1,0.2c0,0.2,0,0.1,0,0.2s0,0.1,0,0.2s0,0.1-0.1,0.2c-0.1,0.1,0,0,0,0.1s0,0,0.1,0c0.1,0,0,0,0.1-0.1
				c0.1-0.1,0,0,0.2-0.1s0.1-0.1,0.1-0.3c0-0.2,0-0.1-0.1-0.2s0-0.1,0-0.2c0-0.1,0-0.1,0-0.2c0-0.1,0.2,0,0.2-0.1c0-0.1,0,0-0.1-0.1
				c-0.1-0.1,0,0-0.1,0c-0.1,0-0.1-0.1-0.3-0.2c-0.1-0.1,0,0-0.1-0.1c-0.1-0.1-0.1-0.1-0.2-0.3c-0.1-0.1-0.1-0.1-0.1-0.2
				s-0.1-0.1-0.1-0.2c-0.1-0.1-0.1-0.2-0.2-0.2c-0.1-0.1,0-0.1-0.1-0.2c0-0.1,0-0.1,0-0.2s0,0,0.1-0.1c0.1-0.1,0,0,0.2,0
				c0.1,0,0.1,0.1,0.3,0.2c0.1,0.1,0.1,0.1,0.1,0.2c0,0.1,0.1,0,0.3,0.1s0.1,0.1,0.3,0.4c0.2,0.2,0.3,0.3,0.3,0.3l0.1,0.3
				c0,0,0,0.1,0.1,0.2c0,0.1,0,0.1,0,0.4c0,0.3,0,0.1,0,0.3c0,0.2,0,0,0.2,0.1c0.2,0,0,0,0.1,0s0,0.1,0.1,0.2c0.1,0.1,0,0,0,0.2
				c0,0.1,0,0.1,0,0.3s0,0,0.1,0.2c0.1,0.1,0.1,0,0.2,0.1c0.1,0,0.1,0,0.3,0.1s0,0,0.1-0.1c0.1-0.1,0-0.1,0-0.2c0-0.1,0,0,0.1,0
				c0.1,0,0.1-0.1,0.1-0.2c0-0.1,0-0.1,0-0.1c-0.1-0.1,0,0,0,0s0,0-0.1-0.1c-0.1-0.1,0-0.1-0.1-0.2c0-0.1,0-0.1,0.1-0.2
				c0-0.1,0.3-0.3,0.3-0.3s0.1,0,0.3-0.1c0.2-0.1,0.1,0,0.3-0.1c0.1,0,0,0,0.2-0.1c0.2,0,0.1,0,0.2-0.1c0.1-0.1,0.1,0,0.2,0
				c0.1,0,0-0.1,0.1-0.2s0-0.1-0.1-0.1c-0.1-0.1,0-0.1,0-0.1c0-0.1,0,0,0-0.2c0-0.2,0-0.1,0-0.2c0-0.1,0.1-0.1,0.1-0.3
				c0-0.2,0,0,0.1-0.1s0.2-0.3,0.2-0.4c0.1-0.1,0.1-0.1,0.2-0.2c0.1-0.1,0-0.1,0.1-0.2c0.1-0.2,0,0,0.1,0c0.1,0,0.1,0,0.4,0.1
				c0.3,0,0,0,0.1,0.1c0.1,0.1,0,0.1,0.1,0.3c0.1,0.2,0,0.1,0.1,0.1c0.1,0.1,0.1,0.1,0.1,0.3c0.1,0.1,0,0,0.1,0c0.1,0,0,0,0.2-0.1
				c0.1-0.1,0,0,0.1-0.1c0.1-0.1,0.1,0,0.1-0.1c0.1,0,0,0,0.1,0s0.1-0.2,0.1-0.2s-0.3,0-0.3-0.1c-0.1,0,0-0.3,0-0.3L57.8,20z"/>
                            <path class="st0" d="M47.1,16.1c0.1,0.1,0,0.2,0,0.2c0.1,0.1-0.1,0,0.1,0.1s0.1,0,0.2,0.1c0.1,0.1,0.1,0.1,0.2,0.2
				c0,0.1,0.1,0,0,0.1c-0.1,0,0.1,0-0.1,0.1c-0.2,0.1-0.2,0.1-0.3,0.1c-0.1,0,0-0.1-0.1,0c-0.1,0.2-0.2,0.2-0.2,0.2s-0.1-0.3-0.1,0
				s0,0.2,0.1,0.3c0.1,0.1,0.1,0.2,0,0.2c0,0.1,0,0-0.1,0.1c-0.1,0.1-0.1,0.1-0.1,0.2c-0.1,0.1-0.2,0-0.2,0.1c0,0.1,0.1,0.2,0.1,0.2
				c0.2,0,0.5,0,0.5,0c0,0,0,0,0.1-0.1c0.1-0.1-0.1-0.2,0.2-0.1c0.3,0.1,0.1,0,0.4,0c0.3,0,0.3,0,0.4,0c0.1,0,0.1,0.1,0.1,0
				c0-0.1,0,0,0-0.2c0-0.2-0.1-0.2-0.1-0.3c0,0-0.1,0,0,0c0.1,0,0.2,0,0.1-0.1c0-0.1,0-0.2-0.1-0.3c-0.1,0-0.2-0.1-0.2-0.1
				c0-0.1,0-0.2,0-0.2s-0.1-0.1-0.1-0.2c0-0.1,0.1-0.1,0-0.1c0,0,0,0-0.1-0.1c-0.1-0.1-0.1-0.1-0.1-0.2C48,16.3,48,16.3,48,16.2
				c-0.1-0.1-0.1-0.1-0.1-0.1s0,0,0-0.1c0-0.1-0.1-0.1,0-0.2c0.1-0.1,0.1-0.1,0.2-0.2c0.1-0.1,0.1,0,0.1-0.1c0-0.2,0.1-0.2-0.1-0.2
				c-0.1,0-0.1,0.1-0.2-0.1c-0.1-0.1-0.2-0.2-0.2-0.2s0.1,0-0.1,0c-0.1,0-0.1-0.2-0.2,0c-0.1,0.2,0,0.2-0.1,0.3
				c-0.1,0.1,0,0.2-0.1,0.2c-0.1,0-0.1-0.2-0.1,0.1c0,0.3-0.1,0.3,0,0.4C47.1,16,47,16,47.1,16.1z"/>
                            <path class="st0" d="M45.9,17.7c0.2,0,0.2,0,0.2-0.1c0-0.1-0.1,0.1,0-0.1c0.2-0.2,0.1-0.1,0.2-0.2c0.1-0.1,0.1,0,0.1-0.2
				c0-0.2,0.1-0.1,0-0.2s-0.2,0,0-0.1c0.1-0.1,0,0,0.1-0.1c0.2-0.1,0.2-0.1,0.3-0.2c0-0.1,0.1-0.1,0.1-0.2c0-0.1,0.1,0,0-0.1
				c-0.2-0.1,0-0.1-0.2-0.1s-0.1-0.1-0.2,0c-0.2,0.1,0,0.2-0.2,0.1c-0.2-0.1-0.1-0.3-0.2-0.1c0,0.2-0.1,0.2-0.1,0.3
				c0,0.1,0,0.1-0.1,0.1c-0.1,0-0.1,0-0.2,0c0,0.1,0,0.2-0.1,0.2c0,0-0.1,0.1-0.1,0.1c0,0,0-0.2,0,0s-0.1,0.3-0.1,0.4
				c0,0.1,0,0.1,0,0.1c0,0,0,0.1,0,0.1C45.6,17.7,45.7,17.7,45.9,17.7z"/>
                            <path class="st0" d="M50.1,15.5c0.2,0.2,0.1,0,0.4,0s0,0,0.1-0.1c0.1-0.1,0.1,0,0.1,0c0.1,0,0.5-0.4,0.5-0.4l0,0c0,0,0,0,0,0
				s0,0,0.1,0.1c0.1,0.1,0,0,0,0.3s0,0.1,0.1,0.3c0.1,0.3,0,0.1,0.1,0.3c0.1,0.2,0,0.1,0.1,0.3c0.1,0.2,0,0,0.1,0.1
				c0.1,0.1,0,0,0.2,0.1c0.2,0.1,0,0,0.1-0.1c0.1-0.1,0-0.1,0-0.3c0.1-0.1,0.1,0.1,0.4,0.2c0.2,0.1,0,0,0.2,0c0.2,0,0,0,0-0.1
				c0-0.1,0-0.1,0-0.2s0.1-0.1,0.1-0.3s0-0.1,0-0.4s0,0,0.1,0s0.1,0,0.3-0.1c0.2-0.1,0.1,0,0.3-0.1s0-0.1-0.1-0.3
				c-0.1-0.2,0-0.1-0.1-0.2c-0.1-0.1,0-0.1-0.1-0.2c0-0.1-0.1-0.1-0.1-0.3c0-0.2,0-0.1,0.1-0.2c0-0.1,0.1-0.3,0.2-0.4
				c0.1-0.1,0,0,0.2-0.1c0.2-0.1,0.1,0,0.3-0.1s0.1,0,0.2-0.1c0.1-0.1,0.1-0.1,0.1-0.2s0-0.1,0.1-0.2c0.1-0.1,0.1-0.1,0.2-0.2
				c0.1-0.1,0.1,0,0.2-0.1c0.1-0.1,0.1-0.1,0.2-0.2c0.1-0.1,0.1-0.1,0.1-0.2c0-0.1,0-0.1-0.1-0.2c-0.1-0.1,0,0,0-0.1s0-0.2-0.1-0.4
				c-0.1-0.2,0-0.1,0-0.1s0.1,0,0.3,0c0.2,0,0.2,0,0.3,0c0.1,0,0.1,0,0.1,0l0.1-0.3l0.5,0.1h0.4c0,0,0-0.2,0-0.2s0,0,0,0
				c0,0,0,0,0.2-0.1c0.1-0.1,0-0.1-0.1-0.1s0,0-0.2,0c-0.2,0,0,0-0.2,0c-0.1,0-0.1,0-0.4-0.1c-0.3,0-0.1,0-0.2,0.1
				c-0.2,0.1,0,0-0.3,0c-0.2,0-0.1,0-0.3,0c-0.2,0-0.2,0.2-0.3,0.2s0,0-0.4,0c-0.4,0-0.1,0.1-0.4,0.2c-0.4,0.2-0.2,0.1-0.5,0.1
				c-0.3,0-0.2,0.2-0.6,0.5s-0.1,0.1-0.3,0.5c-0.2,0.4,0,0.1-0.3,0.4c-0.3,0.3-0.1,0.1-0.4,0.3c-0.3,0.2-0.1,0.1-0.4,0.2
				c-0.3,0.1-0.1,0.1-0.3,0.3c-0.3,0.2-0.1,0.1-0.2,0.1s-0.1,0-0.3,0s0,0.1-0.2,0.3c-0.1,0.2,0,0.1,0.1,0.6c0.1,0.5,0,0.1-0.1,0.2
				c-0.1,0.1,0,0-0.3,0.2c-0.3,0.2,0,0.1,0,0.4S49.9,15.3,50.1,15.5z"/>
                            <path class="st0" d="M54.6,15c-0.1,0.1-0.1,0-0.2,0c-0.1,0-0.1,0-0.3,0.1c-0.3,0.1,0,0,0,0.2c0,0.1,0.1,0.1,0.2,0.1
				c0.1,0,0.1,0,0.3,0c0.2,0,0.1,0.1,0.2,0.2c0.1,0.1,0.4,0.1,0.4,0.1V15c0,0,0,0,0.1-0.1c0.1-0.1,0,0,0,0c0,0-0.1,0-0.1,0
				s0,0-0.1,0c-0.1,0,0,0-0.2,0.1S54.7,15,54.6,15z"/>
                            <path class="st0" d="M44.6,13c0.1,0,0,0,0.3,0s0.1-0.1,0.4-0.2s0.5-0.1,0.7-0.3c0.2-0.1-0.2,0,0-0.1c0.2-0.1,0.1-0.5,0.1-0.5
				s1-0.2,0-0.2c0,0,0.3,0.4,0,0.2c-0.4-0.2,0,0-0.4,0s-0.4,0-0.4,0s-0.4-0.5-0.5-0.2c0,0.3,0,0.3-0.2,0.3s-0.4-0.1-0.4-0.2
				s0.3-0.1,0.1-0.1c-0.2-0.1-0.3-0.2-0.5,0s-0.4-0.2-0.2,0.2c0.2,0.3,0,0.1,0.2,0.3c0.2,0.2,0.2,0.1,0.4,0.3c0.2,0.2,0.3,0,0.4,0.3
				C44.6,13,44.6,13,44.6,13z"/>
                        </g>
                    </g>
                </g>
</svg>

        </div>


    </article>
    <article id="accesSuivi">
        <div class="col1">
            <h3 class="blanc">MMI Montbéliard</h3>
            <h2 class="blanc">Je souhaite accéder au suivi de mon stage à l’étranger </h2>
            <p class="blanc">Le suivi personnalisé vous met à disposition un moyen simple et efficace de ne rater aucune
                étape administrative et de partir en toute sécurité. Nos conseils et celui des anciens étudiants sont
                également disponibles pour vous accompagner et vous faciliter les choses afin de partir sans soucis.</p>
        </div>
        <div class="col1 colonneaImage">
            <img src="CSS/images/check.png" alt="">
        </div>
        <a class="bouton" href="index.php?page=Suivi#monSuivi">Acceder a mon suivi</a>
    </article>
    <script>
        (function () {
            "use strict";

            var listeImage = document.querySelectorAll('.imgFiltre');


            function basculeGris() {
                for (var i = 0; i < listeImage.length; i++) {
                    var uneImage = listeImage[i];
                    uneImage.classList.remove('cache');
                }
                this.classList.add('cache');
            }

            for (var i = 0; i < listeImage.length; i++) {
                var uneImage = listeImage[i];
                uneImage.addEventListener("click", basculeGris);
            }

        }());

    </script>
{% endblock %}