{% extends 'general.html.twig' %}

{% block title %}MMI Stage à l'étranger/Suivi{% endblock %}

{% block contenu %}
    <article id="acceuilSuivi">
        <img src="CSS/images/logoMMI.png" alt="">
        <div><h1>MMI Monbéliard</h1>
            <h2>vous accompagne pour votre stage à l’étranger</h2>
        </div>
        <a class="btn" href="#monSuivi">Voir mon suivi</a>
        <a class="btn" href="#monSuiviQuoi">A quoi sert mon suivi ?</a>
    </article>
    <article id="monSuivi">
        <div class="col1">
            <h3 class="bleu">MMI Montbéliard</h3>
            <h2 class="bleu">Mon suivi personalisé</h2>
            <div class="col4">
                <h3 class="bleu">Mon stage :</h3>
                <span class="monStage">Kaizen</span>
            </div>
            <div class="col4" >
                <h3 class="bleu">Pays :</h3>
                <span class="monStage">Angleterre</span>
            </div>

        </div>

        <div class="col1 ">
            <h3 class="bleu">Mes démarches</h3>
            <form action="" id="suivi">
                <div>
                    <div><span>Curriculum-Vitae </span>
                        <span>13 janvier 2017 </span></div>
                    <input type="checkbox"></div>
                <div>
                    <div><span>Curriculum-Vitae </span>
                        <span>13 janvier 2017 </span></div>
                    <input type="checkbox"></div>
                <div>
                    <div><span>Curriculum-Vitae </span>
                        <span>13 janvier 2017 </span></div>
                    <input type="checkbox"></div>
                <div>
                    <div><span>Curriculum-Vitae </span>
                        <span>13 janvier 2017 </span></div>
                    <input type="checkbox"></div>
                <div>
                    <div><span>Curriculum-Vitae </span>
                        <span>13 janvier 2017 </span></div>
                    <input type="checkbox"></div>
            </form>
        </div>

    </article>
    <article id="monSuiviQuoi">
        <div class="col1">
            <h3 class="blanc">MMI Montbéliard</h3>
            <h2 class="blanc">Tu es étudiant en MMI à Montbéliard ? Inscris toi !</h2>
            <p class="blanc">Vous êtes étudiants au DUT MMI de Montbéliard ? Alors inscrivez-vous sur MMI Montbéliard Stage
                à
                l’étranger afin d’accéder à une large liste d’entreprises susceptibles de vous accueillir, ainsi qu’à un
                suivi administratif qui vous permettra de partir en toute sérénité.</p>
        </div>
        <div class="col1 colonneaImage">
            <img src="CSS/images/listesuivi.png" alt="">
        </div>
    </article>
{% endblock %}